<!-- FOOTER START -->
<footer class="tp-footer">
    <!-- Cookie Policy start -->
    {# <div class="tp-cookie-policy" id="cookie-policy">
        <div class="container">
            <div class="tp-cookie-policy__wrapper">
                <p></p><p>We&nbsp;are&nbsp;using&nbsp;cookies&nbsp;to&nbsp;give&nbsp;you&nbsp;the&nbsp;best&nbsp;experience&nbsp;on&nbsp;our&nbsp;website. For more information on&nbsp;our&nbsp;use of your data, please read&nbsp;our&nbsp;<a href="/privacy-policy/">privacy policy</a>.</p><p></p>
                <a href="#" class="tp-btn tp-btn--red js-accept-btn">Accept</a>
            </div>
        </div>
    </div> #}
    <!-- Cookie Policy end -->

    <div class="container">
        <div class="tp-footer__main">
            <div class="tp-footer__info">
                <a href="/" class="d-block tp-logo">
                    <img src="https://trailersplus.s3.amazonaws.com/images/logo.width-220.png?AWSAccessKeyId=AKIAXHTD5MTVYVPMYDXB&Signature=7V2roc6%2FX2EoZakmU9vnH4r%2FlTU%3D&Expires=1597997343" alt="Trailers Plus">
                </a>
                <p>TrailersPlus is your one-stop destination for trailer sales, parts and service. With more than 68 locations across the country and over 7500 trailers in our inventory, we are the largest independent trailer dealership in the USA.</p>

                <!-- TODO Add class 'active' to 'li' current menu item -->

                <ul class="tp-contact">
                    <li class="tp-contact__item">
                        <i class="fa fa-map-marker"></i>
                        <span>3800 Airport Rd Nampa,
                            <br>ID 83687</span>
                    </li>
                    <li class="tp-contact__item">
                        <i class="fa fa-phone"></i>
                        <a href="tel:+1877-850-7587">(877) 850-7587</a>
                    </li>
                </ul>
                <ul class="tp-footer__pay margin-20t">
                    <li><img data-src="./img/icons/visa.png" alt="visa" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></li>
                    <li><img data-src="./img/icons/mastercard.png" alt="mastercard" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></li>
                    <li><img data-src="./img/icons/express.png" alt="express" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></li>
                    <li><img data-src="./img/icons/discover.png" alt="discover" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></li>
                </ul>
            </div>
            <!-- TODO Add class "active" to current menu item -->
            <div class="tp-footer__menu">
                <div class="tp-footer-nav js-drop-wrapp">
                    <div class="tp-footer-nav__head js-drop-toggle">
                        <h3 class="h4 c-white">Company</h3>
                    </div>
                    <div class="tp-footer-nav__list js-drop-content">
                        <ul>
                            <li>
                                <a href="#">Careers
                                    <b>We're Hiring!</b>
                                </a>
                            </li>
                            <li>
                                <a href="#">Financing</a>
                            </li>
                            <li>
                                <a href="#">Warranty</a>
                            </li>
                            <li class="active">
                                <a href="#">Contact Us</a>
                            </li>
                            <li>
                                <a href="#">Community</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Safety Inspection</a>
                            </li>
                            <li>
                                <a href="#">Reviews</a>
                            </li>
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Return Policy</a>
                            </li>
                            <li>
                                <a href="#">California Supply Chain Act</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tp-footer-nav js-drop-wrapp">
                    <div class="tp-footer-nav__head js-drop-toggle">
                        <h3 class="h4 c-white">Our Locations</h3>
                    </div>
                    <div class="tp-footer-nav__list js-drop-content">
                        <div class="tp-footer-nav__double">
                            <ul>
                                <li>
                                    <a href="#">Alabama</a>
                                </li>
                                <li>
                                    <a href="#">Arizona</a>
                                </li>
                                <li>
                                    <a href="#">Arkansas</a>
                                </li>
                                <li>
                                    <a href="#">California</a>
                                </li>
                                <li>
                                    <a href="#">Colorado</a>
                                </li>
                                <li>
                                    <a href="#">Georgia</a>
                                </li>
                                <li>
                                    <a href="#">Idaho</a>
                                </li>
                                <li>
                                    <a href="#">Indiana</a>
                                </li>
                                <li>
                                    <a href="#">Iowa</a>
                                </li>
                                <li>
                                    <a href="#">Kansas</a>
                                </li>
                                <li>
                                    <a href="#">Kentucky</a>
                                </li>
                                <li>
                                    <a href="#">Louisiana</a>
                                </li>
                                <li>
                                    <a href="#">Minnesota</a>
                                </li>
                                <li>
                                    <a href="#">Missouri</a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="#">Montana</a>
                                </li>
                                <li>
                                    <a href="#">Nebraska</a>
                                </li>
                                <li>
                                    <a href="#">Nevada</a>
                                </li>
                                <li>
                                    <a href="#">New Mexico</a>
                                </li>
                                <li>
                                    <a href="#">North Carolina</a>
                                </li>
                                <li>
                                    <a href="#">Ohio</a>
                                </li>
                                <li>
                                    <a href="#">Oklahoma</a>
                                </li>
                                <li>
                                    <a href="#">Oregon</a>
                                </li>
                                <li>
                                    <a href="#">Tennessee</a>
                                </li>
                                <li>
                                    <a href="#">Texas</a>
                                </li>
                                <li>
                                    <a href="#">Utah</a>
                                </li>
                                <li>
                                    <a href="#">Virginia</a>
                                </li>
                                <li>
                                    <a href="#">Washington</a>
                                </li>
                                <li>
                                    <a href="#">West Virginia</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tp-footer-nav js-drop-wrapp">
                    <div class="tp-footer-nav__head js-drop-toggle">
                        <h3 class="h4 c-white">Shop For</h3>
                    </div>
                    <div class="tp-footer-nav__list js-drop-content">
                        <ul>
                            <li>
                                <a href="#">Cargo Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Utility Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Car Hauler Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Snow/ATV Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Dump Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Equipment Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Custom Trailers For Sale</a>
                            </li>
                            <li>
                                <a href="#">Interstate Parts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="tp-footer__text padding-50t padding50-b t-center">
            With more than 68 locations across the country and over 7500 trailers in our inventory, at TrailersPlus we are the largest independent trailer dealership in the USA. We offer high quality trailers at factory direct prices! TrailersPlus is owned and operated by Interstate, which has manufactured enclosed cargo trailers for over 25 years and has over 350,000 satisfied customers. TrailersPlus is your one-stop destination for trailer sales, parts and service.
        </p>
    </div>
    <div class="tp-footer__copy">
        <div class="container t-center padding-20t padding-20b padding-md-30t padding-md-30b">
            Copyright © 2020 TrailersPlus All Rights Reserved.
        </div>
    </div>
</footer>
<!-- FOOTER END -->