<div id="direction-popup" class="white-popup mfp-hide tp-popup">
    <div class="tp-popup__body">
        <div class="tp-direct-popup">
            <div class="tp-direct-popup__logo">
                <img src="./img/logo-img50.svg" alt="Fesno">
                TrailersPlus <span>Fresno</span>
            </div>
            <div class="row margin-30t">
                <div class="col-md-6">
                    <div>
                        <img src="./img/icons/google-maps.png" alt="Google maps">
                    </div>
                    <a href="#" class="tp-btn tp-btn--red tp-btn--md margin-10t" target="_blank" rel="noopener">go to google maps</a>
                </div>
                <div class="col-md-6">
                    <div class="margin-20t">
                        <div class="tp-loc-info-item">
                            <i class="fa fa-map-marker"></i>
                            <div>
                                TrailersPlus Fresno 5847<br>
                                Toyota Ave Fresno, CA 93725
                            </div>
                        </div>
                        <div class="tp-loc-info-item">
                            <i class="fa fa-phone"></i>
                            <div>
                                <a href="tel:+1661-335-6045">(661) 335-6045</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-direct-popup__info margin-25t margin-md-35t">
                <span class="h4 c-main">Directions</span>
                <p>
                    <strong>From Caldwell</strong> Take 1-84 East to exit 36 (Franklin Blvd.) Turn Left onto Franklin Blvd. Turn Left onto Shilo Dr. we are directly behind The Shilo Inn on the left hand side of the road. 
                </p>
                <p>
                    <strong>From Boise</strong> Take 1-84 West to exit 36 (Franklin Blvd.) Turn Right onto Franklin Blvd. Tum Left onto Shilo Dr. We are directly behind the Shilo Inn on the left hand side of the road.
                </p>
            </div>
        </div>
    </div>
</div>