<div id="reserve-trailer" class="white-popup mfp-hide tp-popup">
    <div class="tp-popup__body">
        <div class="t-center">
            <div class="h3 c-main">Reserve This Trailer Online</div>
            <div class="h4 margin-10t">A $50 Refundable Deposit Lets You Reserve <br> This Trailer for 7 Days.</div>
        </div>
        <div class="fz14 margin-30t">
            <p>
                Here at TrailersPlus we want to make sure that you get the trailer that's perfect for you. To hold this trailer, just click the "Reserve Trailer Online" button and complete the steps listed. After you have completed the reservation, you will have 7 calendar days to visit the store and complete the purchase.
            </p>
            <p>
                If you do not purchase the trailer within that 7 days period, your reservation expires and the $50 hold is automatically released back to your credit card. At that point the trailer becomes available to anyone.
            </p>
            <p>
                If at any time during those 7 days you decide you don't need the reservation anymore, just give us a call and we can release the hold for you.
            </p>
        </div>
        <a href="#" class="tp-btn tp-btn--red tp-btn--full tp-btn--arrow margin-30t js-reserv-btn-2">
            <span>Reserve Trailer Now</span> <i class="icon ion-md-arrow-forward"></i>
            <div class="tp-btn__loader"></div>
        </a>
    </div>
</div>