<div id="schedule" class="white-popup mfp-hide tp-popup tp-popup--schedule" style="width: 1120px;">
    <div class="tp-popup__body" style="max-height: 668px;">
        <div>
            <div class="margin-20b">
                <div class="h3 c-main">BOOK MY TRAILER APPOINTMENT</div>
            </div>

            <div>
                {% include "partials/elements/scheduler.njk" %}
            </div>

            {# <p class="fz15 lh26">
                Fill out the form and we´ll call you to schedule your appointment. You´ll also receive an email containing additional information on this trailer's features and price.
            </p>
            
            <form action="#" class="tp-form margin-30t margin-md-50t" id="schedule-cf">
                <div class="tp-form-control">
                    <input type="text" name="first_name" minlength="3" placeholder="First Name*" required="required">
                </div>
                <div class="tp-form-control">
                    <input type="text" name="last_name" minlength="3" placeholder="Last Name*" required="required">
                </div>
                <div class="tp-form-control">
                    <input type="tel" name="phone" placeholder="Phone Number*" required="required">
                </div>
                <div class="tp-form-control">
                    <input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" placeholder="Email Address*" required="required">
                </div>
                <div class="tp-form-control">
                    <input type="checkbox" name="accept" class="js-accept" id="schedule-accept" required="required">
                    <label for="schedule-accept" class="fz15">I accept the
                        <a href="#">return/refund policy</a>
                    </label>
                </div>

                <div class="tp-form-msg t-center">
                    <div class="tp-form-msg__text tp-form-msg__text--success margin-30t">Form successfully submitted</div>
                    <div class="tp-form-msg__text tp-form-msg__text--error margin-30t"></div>
                </div>

                <input type="hidden" name="time-slot" id="js-time-slot">
                <input type="hidden" name="trailer" value="4RADG1628LN111914"/>

                <div class="margin-30t margin-md-50t">
                    <button type="submit" class="tp-btn tp-btn--red tp-btn--full">
                        <span>Schedule an Appointment</span>
                        <div class="tp-btn__loader"></div>
                    </button>
                </div>
            </form> #}

        </div>
    </div>
    <div class="tp-popup__banner-wrapper">
        <div class="tp-popup__banner bg-img">
            <picture>
                <source data-srcset="./img/webp/product-single/img-banner.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                <source data-srcset="./img/product-single/img-banner.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                <img data-src="./img/product-single/img-banner.jpg" alt="alt" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
            <div class="tp-popup__banner-info">
                <div class="h4 c-white">7 X 14 Interstate Victory Tandem Axle Cargo Trailer</div>
                <span class="h5 d-block margin-15t c-white">
                    <strong>VIN</strong>4RAVS1425KG000620</span>
            </div>
        </div>
        <div class="tp-popup__banner-additional">
            <div class="h3 c-main">Why We Are Appointment Only</div>
            <div class="margin-10t c-blue-dark fz15 lh26">
                <p>TrailersPlus strives to provide the best customer service to every customer who enters our lot. That's why we are appointment only! By having an appointment scheduled for each customer, we can provide:</p>
                <ul class="tp-check-list tp-check-list--small tp-check-list--blue-txt">
                    <li>
                        <b>Immediate customer service with minimal wait times:</b>
                        find the trailer you need, faster. You won't need to wait for service.</li>
                    <li>
                        <b>Tailored offerings:</b>
                        we already know a bit about your needs and projects, so we can have our best selection picked out for you when you arrive.</li>
                    <li>
                        <b>Less crowds:</b>
                        No bumping elbows with other customers in our showroom.</li>
                </ul>
            </div>
        </div>
    </div>

</div>