{% load wagtailcore_tags wagtailimages_tags %}
{% load static i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% cache 604800 about_us_images_text LANGUAGE_CODE self.title %}
<section class="tp-section tp-section--default tp-about-desc">
    <div class="container tp-about-desc--text-{{ self.text_align }}">
        <div class="row flex-column-reverse flex-lg-row{% if self.image_reverse %}-reverse{% endif %}">
            <div class="col-sm-12 col-lg-5">
                <div class="tp-about-desc__text">
                    <h2 class="">{{ self.title }}</h2>
                    <p>{{ self.textarea | safe }}</p>
                    {% if self.button_text %}
                    <a href="{{ self.button_link }}" class="tp-btn tp-btn--red margin-30t">{{ self.button_text }}</a>
                    {% endif %}
            </div>
        </div>
        <div class="col-sm-12 col-lg-7">
            <div class="tp-about-desc__image-wrapper bg-img">
                <picture>
                    {% image self.image width-600 format-webp as image_webp %}
                    <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    {% image self.image width-600 format-webp as image_webp %}
                    <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    {% image item.image_before width-600 format-webp as img %}
                    <img data-src="{{ img.url }}" alt="Tire Warranty" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </picture>
            </div>
        </div>
    </div>
    </div>
</section>
{% endcache %}