{% load wagtailcore_tags wagtailimages_tags %}
{% load static i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% cache 604800 why_service_text LANGUAGE_CODE self.button_text %}
<section class="tp-section tp-section--default bg-img">
    <picture>
        {% image self.background_image width-1920 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image_mobile width-450 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image width-1920 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image_mobile width-450 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image width-1920 format-webp as image_webp %}
        <img data-src="{{ image_webp.url }}" alt="{{ image_webp.alt }}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
    </picture>
    <div class="container d-flexjustify-content-md-between align-items-center text-mobile-center" 
            style="justify-content: space-between; display: flex; flex-direction: column; align-content: space-between;">
        <h3 class="h2 c-white" style="padding-bottom: 1.5rem; width: 80%;margin:auto; text-align: center;">
            {{ self.title }}
        </h3>
        {% if self.sub_title %}
            <h2 class="h3--large-mobile c-white margin-20b margin-md-0b text-center text-md-left" style="padding-bottom: 2.5rem;">
                {{ self.sub_title }}
            </h2>
        {% endif %}
        <a href="{{ self.button_link }}" class="tp-btn tp-btn--red tp-btn--medium-max tp-btn--icon tp-btn--shadow">
            <i class="{{ self.button_icon }}"></i>
            {{ self.button_text }}
        </a>
    </div>
</section>
{% endcache %}