{% load wagtailcore_tags wagtailimages_tags %}
{% load i18n %}
{% load static cache %}
{% load product_tags price_round %}
{% get_current_language as LANGUAGE_CODE %}

{% cache 604800 fleet_sales_banner LANGUAGE_CODE self.title %}

{% if self.service_button_text %}
<section class="tp-section bg-blue-l">    
{% else %}
<section class="tp-section tp-banner tp-banner--bot tp-banner--cover tp-banner--overl-{{ self.overlay }} bg-img tp-banner--logo-large bg-blue-l" 
    {% if self.bottom_logo %}
        style="padding-top: 2.5rem; padding-bottom: 5rem; min-height: 143px;"
    {% else %}
        style="padding-top: 2.5rem; padding-bottom: 2.6rem; min-height: 143px;"
    {% endif %}
    >

    <picture>
        {% image self.background_image width-1920 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image_mobile width-450 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image width-1920 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image_mobile width-450 format-webp as image_webp %}
        <source data-srcset="{{ image_webp.url }}" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        {% image self.background_image width-1920 format-webp as image_webp %}
        <img data-src="{{ image_webp.url }}" alt="{{ image_webp.alt }}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
    </picture>
{% endif %}
    <div class="container c-white t-center">
        <h1 class="h1 c-white margin-10t margin-0b br-lg {% if self.float_left %}t-left{% endif %}" {% if self.blue_text %}style="color:#264D80"{% endif %}>
            {% titles_substitution self.title %}
        </h1>
        {% if self.sub_title %}
        <h2 class="h3 c-white margin-20t">{{ self.sub_title | safe }}</h2>
        {% endif %}
        {% if self.textarea %}
        <p class="c-white margin-20t br-sm">{{ self.textarea | safe }}</p>
        {% endif %}
    </div>
    <div class="tp-banner__logo">
        <picture>
            {% image self.bottom_logo width-138 format-webp as image_webp %}
            <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            {% image self.bottom_logo width-138 format-webp as image_webp %}
            <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            {% image self.bottom_logo width-138 format-webp as img %}
            <img data-src="{{ img.url }}" alt="models we offer" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
        </picture>
    </div>
</section>
{% if self.service_button_text %}
    <div class="tp-banner__buttons-wrapper">
        {% comment %}
        Trailer repair slug is harcoded please do not edit slug unless it changes
        {% endcomment %}
        <a href="{% slugurl 'trailer-repair-and-service' %}#schedule" class="tp-btn tp-btn--red tp-btn--shadow">
            <span>{{self.service_button_text}}</span>
        </a>    
    </div>
{% endif %}

{% endcache %}
