{% load wagtailcore_tags wagtailimages_tags common_tags %}
{% load static i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% cache 604800 richtext_plus LANGUAGE_CODE self.richtext_plus %}
<div class="container c-blue-dark tp-check-list">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 tp-blog-details__content padding-30t padding-30b">
            <p>{{ self.richtext_plus |locations_count:location_count| safe }}</p>
        </div>
    </div>
</div>
{% endcache %}