{% load wagtailcore_tags wagtailimages_tags %}
{% load static i18n cache %}
{% get_current_language as LANGUAGE_CODE %}

{% cache 604800 single_image LANGUAGE_CODE self.single_image %}
<div class="container c-blue-dark">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 tp-blog-details__content">
            <picture>
                {% image self.single_image width-996 format-webp as image_webp %}
                <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                {% image self.single_image width-996 format-webp as image_webp %}
                <source data-srcset="{{ image_webp.url }}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                {% image self.single_image width-996 format-webp as img %}
                <img data-src="{{ img.url }}" alt="{{ self.single_image_alt }}" class="lazyload tp-img--shadow" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
            </picture>
        </div>
    </div>
</div>
{% endcache %}