<div class="tp-row">
    <div class="tp-col margin-25b">
        <div class="tp-quote">
            <div class="tp-quote__text">
                <p>"I've had many trailers of various types. This is my first Interstate. I love it. The price was very fair, the quality is by far the best I've ever seen. I will never buy anything but an Interstate if I need another trailer.</p>
                <p>The young men that assisted me were outstanding! Fernando and Matt went far and beyond to ensure my needs were met. Answered all of my questions and then some. I would like to thank TrailersPlus and the young men that sold me an exceptional Interstate trailer.</p>
                <p>I would recommend TrailersPlus and Interstate trailers to everyone. Thank you."</p>
            </div>
            <span class="tp-quote__author">- M. Ramos</span>
        </div>
    </div>
    <div class="tp-col margin-25b">
        <div class="tp-quote">
            <div class="tp-quote__text">
                <p>"I had a fantastic buying experience with Jay and love my trailer. This is my 2nd Interstate trailer and was worth the drive to ensure I was purchasing a high-quality, locally-built trailer with sales and service readily available.</p>
                <p>I spent a large part of the weekend customizing the interior with hooks, cabinets, benches, and other items specific to my sledding and ATVing needs. I'll definitely recommend TrailersPlus and will be the place I look first should I need another trailer."</p>
            </div>
            <span class="tp-quote__author">- M. Ramos</span>
        </div>
    </div>
</div>