{% if(hidetitle !== "true") %}
<div class="container tp-cat-title">
    <h2 class="h2 t-center">Browse By Category</h2>
</div>
{% endif %}
<div class="tp-swiper tp-swiper--category js-swiper">
    <div class="tp-swiper__container swiper-container" 
        data-slides="5" data-slides_lg="4" data-slides_md="3" data-slides_sm="2" data-simulate_touch="true"
        data-loop="true" data-centeredSlides="true" data-speed="700" data-initial_slide="3"
    >
        <div class="swiper-wrapper tp-swiper__wrapper">
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Gooseneck Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/7-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/7-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/7-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
             <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Snow / ATV Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/5-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/5-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/5-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Custom Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/8-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/8-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/8-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <!-- TODO Links may have different text -->
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">Learn More</a>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Enclosed Cargo Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/3-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/3-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/3-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Utility Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/2-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/2-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/2-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Dump Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/4-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/4-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/4-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Equipment Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/6-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/6-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/6-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <h3 class="h3 tp-swiper__title">Car Hauler Trailers</h3>
                <div class="tp-swiper__content">
                    <picture>
                        <source data-srcset="./img/webp/category-slider/1-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/category-slider/1-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/category-slider/1-min.png" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>
                    <a href="#" class="tp-btn tp-btn--sm tp-btn--red tp-swiper__btn">View Inventory</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination tp-swiper__pagination"></div>
        <div class="swiper-button-prev tp-swiper__prev"></div>
        <div class="swiper-button-next tp-swiper__next"></div>
    </div>
</div>