<div class="container">
    <div class="tp-banner--sm t-center z-index">
        <h2 class="h2">TrailersPlus carries over <b>6700+</b> trailers nationwide in many styles and sizes.</h2>
        <div class="color-grey">
            <p>Best Market Price!* When compared to identical spec and model year trailers in a 50 mile radius</p>
            <p><small>*We know these are interesting times for inventory. If a competitor trailer is priced very low due to aged inventory, we may not be able to offer a price match. Instead, we will offer you a 50% discount on all parts and accessories, whether you decide to purchase your trailer from our store or elsewhere!</small></p>
        </div>
    </div>
</div>