<picture>
    <source data-srcset="./img/webp/flag-bg-min.webp" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/webp/flag-bg-mob-min.webp" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/flag-bg-min.jpg" type="image/jpeg" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/flag-bg-mob-min.jpg" type="image/jpeg" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <img data-src="./img/flag-bg-min.jpg" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
</picture>

<div class="container z-index t-center">
    <h2 class="h2-h1 c-white">We have more than <b>350,000</b> satisfied customers across the United States.</h2>
    <div class="tp-banner--sm c-white padding-md-40t">
        <p>
            We proudly build every Interstate Trailer in Idaho, Arizona, Arkansas, or Virginia with 
            95% of trailer weight sourced from the USA.
        </p>
        <p>
            Interstate Trailers are only available at factory owned TrailersPlus stores.
            This allows us to cut out the middleman and give you the highest quality trailer at the lowest possible price.
        </p>
    </div>
    <a href="#" class="tp-btn tp-btn--white tp-btn--t-blue margin-30t margin-md-55t">Learn More</a>
</div>