<div class="tp-swiper tp-swiper--main tp-swiper--shadow tp-swiper--bg-absolute js-swiper">
    <div class="swiper-container tp-swiper__container" data-slides="1" data-speed="1000" data-autoplay="4000" data-loop="true">
        <div class="swiper-wrapper tp-swiper__wrapper">
            <div class="swiper-slide tp-swiper__slide">
                <picture>
                    <source data-srcset="./img/webp/banner-slider/home-slide-4-min.webp" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <source data-srcset="./img/webp/banner-slider/home-slide-4-mob-min.webp" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <source data-srcset="./img/banner-slider/home-slide-4-min.jpg" type="image/jpeg" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <source data-srcset="./img/banner-slider/home-slide-4-mob-min.jpg" type="image/jpeg" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <img data-src="./img/banner-slider/home-slide-4-min.jpg" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </picture>
                <div class="tp-swiper__content">
                    <h2 class="h1 c-white">
                        Browse our inventory of over 100 trailers at each Trailersplus store.
                    </h2>
                </div>
            </div>
            <div class="swiper-slide tp-swiper__slide">
                <picture>
                    <source data-srcset="./img/webp/banner-slider/home-slide-3-min.webp" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <source data-srcset="./img/webp/banner-slider/home-slide-3-mob-min.webp" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <source data-srcset="./img/banner-slider/home-slide-3-min.jpg" type="image/jpeg" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <source data-srcset="./img/banner-slider/home-slide-3-mob-min.jpg" type="image/jpeg" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
                    <img data-src="./img/banner-slider/home-slide-3-min.jpg" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                </picture>
                <div class="tp-swiper__content">
                    <h2 class="h1 c-white">
                        Factory Direct to you for the BEST trailers at the BEST value <b>GUARANTEED</b>.
                    </h2>
                </div>
            </div>
        </div>
        <div class="swiper-pagination tp-swiper__pagination tp-swiper__pagination--light margin-10b margin-sm-20b"></div>
        <div class="swiper-button-prev tp-swiper__prev"></div>
        <div class="swiper-button-next tp-swiper__next"></div>
    </div>
</div>