<picture>
    <source data-srcset="./img/webp/bg/product-cta.webp" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/webp/bg/product-cta-mob.webp" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/bg/product-cta.jpg" type="image/jpeg" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/bg/product-cta-mob.jpg" type="image/jpeg" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <img data-src="./img/bg/product-cta.jpg" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
</picture>

<div class="tp-product-cta container z-index t-center">
    <h2 class="h2 title-w-block c-white">Interested in this Trailer? Call Now! <a href="tel:+1762-222-1990" class="c-white d-inline-block">762-222-1990</a></h2>
    <div class="d-flex flex-wrap justify-content-center tp-2-btn margin-15t margin-md-40t">
        <a href="#" class="tp-btn tp-btn--padd-sm tp-btn--sm-fullwidth tp-btn--grey js-reserv-btn-3">    
            <span>Reserve this Trailer Online</span>
            <div class="tp-btn__loader"></div>
        </a>
        <a href="#schedule" class="tp-btn tp-btn--padd-sm tp-btn--sm-fullwidth tp-btn--red js-popup">Schedule an Appointment</a>
    </div>
    <div class="tp-product-cta__info margin-10t margin-md-15t">
        Financing Available from <b>$85.16/mo</b>.
    </div>
    <div class="tp-product-cta__link margin-10t margin-md-40t">
        <a href="#" class="tp-link--arrow tp-link--arrow-abs-2 tp-link--low"><span class="d-block d-md-inline">To Qualify for Trailer Financing</span> <span class="d-inline-block">Click Here</span></a>
    </div>
</div>