<div class="container t-center">
    <h2 class="h2 c-white br-sm">Choose INTERSTATE for the Most<br> Trusted Name in Trailers</h2>
    <a href="#" class="tp-btn tp-btn--lg tp-btn--grey margin-5t margin-md-10t">
        Search <span class="d-none d-md-inline">For Your Interstate </span>Trailers Now
        <i class="icon ion-md-arrow-forward"></i>
    </a>
</div>