<picture>
    <source data-srcset="./img/webp/for-sale/sale-banner-min.webp" type="image/webp" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/webp/for-sale/sale-banner-mob-min.webp" type="image/webp" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/for-sale/sale-banner-min.jpg" type="image/jpeg" media="(min-width: 451px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <source data-srcset="./img/for-sale/sale-banner-mob-min.jpg" type="image/jpeg" media="(max-width: 450px)" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="> 
    <img data-src="./img/for-sale/sale-banner-min.jpg" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
</picture>
<div class="container p-relative z-index">
    <div class="tp-sale-baner__box">
        <div class="tp-sale-baner__left">
            <h1 class="h2 c-white">
                Search our Complete Inventory of over 6800+ Trailers from 68 Stores Nationwide
            </h1>
            <p class="c-white margin-0t">Need help choosing the right trailer? You've come to the right place! TrailersPlus has the largest selection of in-stock trailers in America! We carry trailers of all types, sizes and options to meet your trailering needs.</p>
        </div>
    </div>
</div>