<div class="container p-relative">
    <div class="tp-s-filter tp-skew tp-skew--blue-l tp-skew--border tp-skew--shadow">
        <form action="#" class="tp-s-filter__form">
            <div class="tp-s-filter__options">
                <div class="tp-s-filter__item tp-s-filter__item--type">
                    <span class="tp-s-filter__item-label t-uppercase h4">Trailer Type</span>
                    <select name="trailer-type" id="trailers_type">
                        <option value="all">All Types</option>
                        <option value="cargo">Enclosed Cargo</option>
                        <option value="utility">Utility</option>
                        <option value="dump">Dump</option>
                        <option value="equipment">Equipment</option>
                        <option value="hauler">Car Hauler</option>
                        <option value="atv">Snow / ATV</option>
                    </select>
                </div>
                <div class="tp-s-filter__item tp-s-filter__item--store">
                    <span class="tp-s-filter__item-label t-uppercase h4">Select a Store</span>
                    <select name="trailer-type" id="trailers_store">
                        <optgroup label="Alabama">
                            <option value="leads">Leads, AL</option>
                        </optgroup>
                        <optgroup label="Arizona">
                            <option value="leads">Kingman, AZ</option>
                            <option value="phoenix">Phoenix, AZ</option>
                            <option value="tucson">Tucson, AZ</option>
                        </optgroup>
                        <optgroup label="Arkansas">
                            <option value="leads">Bryant, AR</option>
                            <option value="phoenix">Conway, AR</option>
                            <option value="tucson">West Memphis, AR</option>
                        </optgroup>
                    </select>
                </div>
            </div>
            <button type="submit" class="tp-btn tp-btn--red tp-btn--smooth tp-s-filter__submit">Search trailers</button>
        </form>
    </div>
</div>