<div class="tp-s-filter tp-s-filter--vert tp-skew tp-skew--blue-l tp-skew--border tp-skew--shadow">
    <div class="h3 c-white t-center">The Nation’s Trailer Search</div>
    <form action="#" class="tp-s-filter__form margin-20t">
        <div class="tp-s-filter__options">
            <div class="tp-s-filter__item tp-s-filter__item--type">
                <select name="trailer-type" id="js-for-sale-type">
                    <option value="all">All Types</option>
                    <option value="cargo">Enclosed Cargo</option>
                    <option value="utility">Utility</option>
                    <option value="dump">Dump</option>
                    <option value="equipment">Equipment</option>
                    <option value="hauler">Car Hauler</option>
                    <option value="atv">Snow / ATV</option>
                </select>
            </div>
            <div class="tp-s-filter__item tp-s-filter__item--store">
                <select name="trailer-type" id="js-for-sale-city">
                    <optgroup label="Alabama">
                        <option value="Leeds">Leads, AL</option>
                    </optgroup>
                    <optgroup label="Arizona">
                        <option value="Kingman">Kingman, AZ</option>
                        <option value="Phoenix">Phoenix, AZ</option>
                        <option value="Tucson">Tucson, AZ</option>
                    </optgroup>
                    <optgroup label="Arkansas">
                        <option value="Bryant">Bryant, AR</option>
                        <option value="Conway">Conway, AR</option>
                        <option value="West Memphis">West Memphis, AR</option>
                    </optgroup>
                </select>
            </div>
        </div>
        <button type="submit" class="tp-btn tp-btn--red tp-btn--full margin-20t">View Search Results</button>
    </form>
    <div class="tp-s-filter__stat t-center margin-20t js-s-filter__stat">
        <span>142</span>Trailers Available
    </div>
</div>