{% load wagtailcore_tags wagtailimages_tags %}
<section class="tp-section tp-section--default bg-white-grey">
    <div class="container">
        <div class="row t-center margin-50b">
            <div class="col-12 col-lg-10 offset-lg-1 c-blue-dark">
                <p>{{ self.section_description | safe }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2" id="vin-wrapper">
                <form enctype="multipart/form-data" class="tp-form tp-form--shadow tp-form--padding" id="vin-cf">
                    <div class="t-center h3 margin-20b">{{ self.title }}</div>
                    <div class="row t-center margin-20b">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <p>
                                {{ self.sub_title | safe }}
                            </p>
                        </div>
                    </div>
                    <div class="tp-form">
                        <div class="tp-form-control">
                            <input type="text" id="vin" name="vin" placeholder="{{ self.placeholder_vin }}">
                        </div>
                    </div>
                    <div class="tp-form-msg t-center">
                        <div class="tp-form-msg__text tp-form-msg__text--success margin-30t">{{ self.success_message }}</div>
                        <div class="tp-form-msg__text tp-form-msg__text--error margin-30t"></div>
                    </div>
                    <div class="margin-30t t-center">
                        <button type="submit" class="tp-btn tp-btn--red tp-btn--large">
                            <span>{{ self.button_text }}</span>
                            <div class="tp-btn__loader"></div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2" id="warranty-wrapper">
                <form class="tp-form tp-form--shadow tp-form--padding" id="warranty-cf">
                    {% csrf_token %}
                    <div class="t-center h3 margin-20b">{{ self.title }}</div>
                    <div class="row t-center margin-20b">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <p>
                                {{ self.sub_title | safe }}
                            </p>
                        </div>
                    </div>
                    <div class="tp-form-double">
                        <div class="tp-form-control">
                            <input type="text" name="name" pattern="^[A-Za-z]+[\dA-Za-z-_.,\s]{1,50}$" minlength="3" placeholder="{{ self.placeholder_name }}" required="required">
                        </div>
                        <div class="tp-form-control">
                            <input type="tel" name="phone" placeholder="{{ self.placeholder_phone }}" required="required">
                        </div>
                    </div>
                    <div class="tp-form-control">
                        <div class="tp-form-control" style="width: 100%;">
                            <input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" placeholder="{{ self.placeholder_email }}" required="required">
                        </div>
                    </div>
                    <div class="tp-form-control">
                        <label for="description">{{ self.placeholder_description }}</label>
                        <textarea name="description" minlength="10" required="required"></textarea>
                    </div>
                    <div class="tp-form-msg t-center">
                        <div class="tp-form-msg__text tp-form-msg__text--success margin-30t">{{ self.success_message }}</div>
                        <div class="tp-form-msg__text tp-form-msg__text--error margin-30t"></div>
                    </div>
                    <div class="margin-30t t-center">
                        <button type="submit" class="tp-btn tp-btn--red tp-btn--large">
                            <span>{{ self.button_text }}</span>
                            <div class="tp-btn__loader"></div>
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-8 offset-lg-2" id="photos-wrapper">
                <form enctype="multipart/form-data" class="tp-form tp-form--shadow tp-form--padding" id="photos-cf">
                    <div class="t-center h3 margin-20b">{{ self.title }}</div>
                    <div class="row t-center margin-20b">
                        <div class="col-12 col-lg-10 offset-lg-1">
                            <p>
                                {{ self.photo_desc | safe }}
                            </p>
                        </div>
                    </div>
                    <input type="text" name="warranty" style="display: none;" id="warranty-id">
                    <div id="photo-wrapper" style="
                        border: dashed;
                        padding: 10px;
                        height: 200px;
                        width: 100%;
                    ">
                        <div class="tp-form-control" style="
                            height: 100%;
                            width: 100%;
                        ">
                            <label for="images">Pictures(s)</label>
                            <input type="file" id="images" name="images" accept="image/png, image/jpeg" multiple="" style="
                                width: 100%;
                                height: 100%;
                            ">
                        </div>
                    </div>
                    <div class="tp-form-msg t-center">
                        <div class="tp-form-msg__text tp-form-msg__text--success margin-30t">{{ self.success_message }}</div>
                        <div class="tp-form-msg__text tp-form-msg__text--error margin-30t"></div>
                    </div>
                    <div class="margin-30t t-center">
                        <button id="vin-submit" type="submit" class="tp-btn tp-btn--red tp-btn--large">
                            <span>{{ self.button_text }}</span>
                            <div class="tp-btn__loader"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>