/* ------------------------------------------- */
/*                  FOOTER                     */
/* ------------------------------------------- */

.tp-footer {
    background-color: var(--c-blue-dark);
    padding-top: 85px;
    color: rgba(var(--ca-white), 0.6);

    @include small-size-max {
        padding-top: 50px;
    }

    .tp-logo img {
        height: auto;
    }

    &__text {
        padding: 50px 0;
        font-size: 14px;
        line-height: 23px;
        border-top: 1px solid rgba(var(--ca-white), 0.1);
        margin-top: 50px;

        @include small-size-max {
            margin-top: 0;
            border: none;
        }
    }

    &__copy {
        background-color: var(--c-blue-darken);
        font-size: 14px;
    }

    &__main {
        display: flex;

        @include medium-size-max {
            flex-wrap: wrap;
        }
    }

    &__info {
        max-width: 250px;
        font-size: 15px;

        @include medium-size-max {
            max-width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__menu {
        display: flex;
        margin-left: auto;

        @include large-size-max {
            margin-left: 40px;
        }

        @include medium-size-max {
            margin-left: 0;
            margin-top: 25px;
            width: 100%;
            justify-content: space-between;
        }

        @include small-size-max {
            flex-wrap: wrap;
            width: 100%;
            justify-content: flex-start;
        }
    }

    &__pay {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            img{
                width: 37px;
                height: 23px;
            }
        }
    }
}


/*	Footer nav	*/

.tp-footer-nav {
	$d: &;
	padding-left: 50px;
	margin-top: 18px;

	&:first-child {
		
		@include medium-size-max {
			padding-left: 0;
		}
	}

	@include large-size-max {
		padding-left: 20px;
	}

	@include medium-size-max {
		text-align: center;
	}

	@include small-size-max {
		padding-left: 0;
		width: 100%;
		border-bottom: 1px solid var(--c-grey-light);
		margin-top: 0;
	}

	&__double {
		display: flex;

		@include small-size-max {
			justify-content: space-between;
		}

		ul {
			@include small-size-max {
				margin: 0 12px;
			}
		}

		ul:first-child {
			margin-right: 40px;

			@include small-size-max {
				margin-right: 0;
			}
		}
	}

	&.open {

		#{$d} {

			&__list {
				display: block;
			}
		}
	}

	&__head {

		@include medium-size-min {
			pointer-events: none;
		}

		@include small-size-max {
			position: relative;
			padding: 10px 0 10px 4px;
			text-align: left;
			cursor: pointer;
		}

		&:after {

			@include small-size-max {
				content: "\f107";
				font-family: 'FontAwesome';
				font-style: normal;
				font-size: 22px;
				color: var(--c-white);
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.h4 {

			@include small-size-max {
				font-size: 24px;
			}
		}

		&.is-active {

			@include small-size-max {
				
				&:after {
					content: '\f106'
				}
			}
		}
	}

	&__list {
		margin-top: 30px;

		@include medium-size-min {
			display: block !important;
		}

		@include small-size-max {
			display: none;
			margin-top: 15px;
		}
	
		ul {
			display: block;
			
			@include small-size-max {
				margin-bottom: 50px;
			}
		}

		li {
			@include flex-width(100%);
			font-size: 15px;
			margin-bottom: 5px;

			@include mobile-menu-min {
				max-width: 210px;
			}

			@include large-size-max {
				margin-bottom: 10px;
			}

			a {
				color: inherit;
				display: block;

				@include large-size-max {
					line-height: 1.3;
				}

				&:hover {
					color: var(--c-white);
				}

				b {
					display: inline-block;
					position: relative;
					font-weight: $headings-font-weight;
					color: var(--c-white);
					padding-right: 3px;
					padding-left: 2px;
					z-index: 1;
					font-family: $f-oswald;

					&:before {
						@include skew();
					}
				}
			}
		}

		.active a {
			color: var(--c-white);
		}
	}
}


.js-inner-nav {
	> div {
		text-align: center;
	}

	a {
		@include extra-small-size-max {
			max-width: 95% !important;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.tp-ig-block {
	a {
		@include extra-small-size-max {
			max-width: 75% !important;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
