{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}
{% load static %}
{% load product_tags checkout_tags%}

<section class="tp-section">
    <div class="container">
        <p id="storeRedirect" class="d-none">{{ request.scheme }}://{{ request.site_name }}/{{cart_trailer.store.get_slug}}/{{ cart_trailer.info.category.slug }}/trailer/{{ cart_trailer.info.vin }}</p>
        <h1 class="h3 tp-checkout c-main">{{ self.title}}</h1>

        <div class="tp-form-triple tp-form-control tp-checkout__time">
            <div class="tp-form-control d-block">
                {{ self.before_time_text }}
            </div>
            <div class="tp-form-control d-block c-pomegranate" id="holdingTime"></div>
            <div class="tp-form-control d-sm-flex d-lg-none justify-content-center c-pomegranate" id="holdingTimeMobile">
                <div class="d-flex flex-column mx-2">
                    <div id="holdingMin" class="fz40"></div>
                    <div>{{ self.minutes_text }}</div>
                </div>
                <div class="fz40">:</div>
                <div class="d-flex flex-column mx-2">
                    <div id="holdingSec" class="fz40"></div>
                    <div>{{ self.seconds_text }}</div>
                </div>
            </div>
            <div class="tp-form-control d-block">
                {{ self.after_time_text }}
            </div>
        </div>

        <form action="" method="post">
            {% csrf_token %}
            <div id="checkout" class="tp-checkout margin-30t margin-md-50t">
                <div class="tp-checkout__left">
                    <button type="button"
                        class="AcceptUI tp-btn tp-btn--blue d-none"
                        data-billingAddressOptions='{"show":true, "required":false}' 
                        data-apiLoginID="{{ AUTHORIZE_LOGIN_ID }}" 
                        data-clientKey="{{ AUTHORIZE_CLIENT_KEY }}"
                        data-acceptUIFormBtnTxt="Submit" 
                        data-acceptUIFormHeaderTxt="Card Information" 
                        data-responseHandler="responseHandler">Pay
                    </button>
                    <div class="tp-checkout__form-box js-content-box">
                        <div class="tp-checkout__form margin-40b margin-md-50b active js-content" data-index="1">
                            <div action="#" class="tp-form">
                                <div class="tp-form-double tp-form-double--lg">
                                    <div class="tp-form-control tp-form-control--lg d-block">
                                        <label for="firstname" class="label_styles">{{ self.customer_info_form.first_name_placeholder }}</label>
                                        <input type="text" id="firstname" name="firstname" class="js-space-first_last input_styles" minlength="2" autocomplete="off" required>
                                    </div>
                                    <div class="tp-form-control tp-form-control--lg d-block">
                                        <label for="lastname" class="label_styles">{{ self.customer_info_form.last_name_placeholder }}</label>
                                        <input type="text" id="lastname" name="lastname" class="js-space-first_last input_styles" minlength="2" autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="tp-form-control tp-form-control--lg d-block">
                                    <label for="email" class="label_styles">{{ self.customer_info_form.email_address_placeholder }}</label>
                                    <input type="email" id="email" name="email" class="js-space-email input_styles" autocomplete="off" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" required>
                                </div>

                                <div class="tp-form-double tp-form-double--lg">
                                    <div class="tp-form-control tp-form-control--lg d-block">
                                        <label for="zip" class="label_styles">{{ self.payment_info_form.zip_code_placeholder }}</label>
                                        <input type="number" id="zip" name="zip" class="js-space-zip input_styles" min="0" aria-label="Billing zip code" autocomplete="off" required>
                                    </div>
                                    <div class="tp-form-control tp-form-control--lg d-block">
                                        <label for="phone" class="label_styles">{{ self.customer_info_form.phone_placeholder }}</label>
                                        <input type="tel" id="phone" name="phone"  pattern=".{14,15}" class="input_styles" autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="tp-form-control tp-form-control--lg d-flex align-items-center">
                                    <input type="checkbox" name="accept" id="payment-checkbox" required>
                                    <label for="payment-checkbox" class="label_styles">{{ self.payment_info_form.i_accept_policy_text }} {{ self.payment_info_form.return_refund_text|to_tag }}</label>
                                </div>


                            </div>
                        </div>
                        <div class="tp-checkout__form margin-40b margin-md-50b js-content" data-index="2">
                            <div class="tp-form">



                                <input type="hidden" name="dataValue" id="dataValue" />
                                <input type="hidden" name="dataDescriptor" id="dataDescriptor" />
                                <input type="hidden" name="refId" id="refId" />
                                <input type="hidden" name="authCode" id="authCode" />
                                <input type="hidden" name="transId" id="transId" />
                                <input type="hidden" name="accountNumber" id="accountNumber" />
                                <input type="hidden" name="accountType" id="accountType" />
                                <input type="hidden" name="responseCode" id="responseCode" />




                            </div>
                        </div>
                        <div class="tp-checkout__confirm margin-40b margin-md-50b js-content" data-index="3">
                            <div class="row js-confirmation-info"></div>
                        </div>
                    </div>
                    <div class="tp-checkout__buttons next_button__right" id="buttons_nxt_back">
                        <button type="button" class="tp-btn tp-btn--grey tp-btn--back back_button__disable js-checkout-back" id="back_btn" disabled><i class="ion-md-arrow-round-back"></i>{{ self.back_text }}</button>
                        <button type="button" class="tp-btn tp-btn--blue tp-btn--next js-checkout-next">{{ self.continue_text }}<i class="ion-md-arrow-round-forward"></i></button>
                        <button type="submit" class="tp-btn tp-btn--blue js-checkout-pay d-none">{{ self.confirmation_form.pay_now_button_text }}</button>

                        <button type="button" class="tp-btn tp-btn--blue js-send d-none">Paynow</button>
                    </div>
                    <div class="tp-form-msg__text tp-form-msg__text--error margin-30t"></div>
                    <div class="tp-checkout__errors margin-30t d-none js-checkout-errors">
                        <p class="error">{{ self.form_error_message }}</p>
                    </div>
                </div>
                <div class="tp-checkout__right">
                    <input type="hidden" id="trailer_id" name="trailer_id" value="{{ cart_trailer.info.vin }}">
                    <input type="hidden" name="vin" value="{{ cart_trailer.info.vin }}">
                    <div class="tp-checkout__product">
                        <div class="tp-checkout__product-img bg-img">
                            <picture>
                                <!--<source data-srcset="./img/webp/product-single/img-1.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">-->
                                <!--<source data-srcset="./img/product-single/img-1.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">-->
                                {% if cart_trailer.info.pictures %}
                                    {% with cart_trailer.info.pictures|first as picture %}
                                        <img data-src="{{ cart_trailer.image_path }}/{{ picture.file }}" alt="alt" class="lazyload js-print-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    {% endwith %}
                                {% endif %}
                            </picture>
                        </div>
                        <div class="tp-checkout__product-body">
                            <p class="h4 c-main margin-15b">{{ cart_trailer.title }}</p>
                            <div class="d-flex align-items-center">
                                <div class="tp-price tp-price--sm fw500">{{ self.right_trailer_block.sale_price_text }}: <span>{{ cart_trailer.info.sale_price|str_price }}*</span></div>
                                <div class="tp-price tp-price--old tp-price--sm ml-5">MSRP: {{ cart_trailer.info.msrp|str_price }}</div>
                            </div>
                            <div class="tp-product-info__text margin-10t">
                                <p>{{ self.right_trailer_block.financing_available_from_text }} <b><strong>${{ cart_trailer.info.calculated_cash_price|formula|stringformat:".2f" }}/mo.</strong></b></p>
                            </div>
                            <p class="tp-checkout__product-note">*{{ self.right_trailer_block.tax_changes_text }}</p>
                        </div>
                        <div class="tp-checkout__product-footer">
                            <p>{{ self.right_trailer_block.delivery_rules }}</p>
                            <div class="tp-product-info__location margin-25t margin-md20t">
                                <i class="fa fa-map-marker c-main"></i>
                                <span class="fz14">{{ self.right_trailer_block.located_at_text }}:</span>
                                <div class="tp-located-at">
                                    <span class="tp-located-at__toggle js-located-at"><strong class="fz14">{{ cart_trailer.store.store_name }}</strong></span>
                                    <div>
                                        {{ self.right_trailer_block.shipping_quote }} <a href="tel:+1{{ cart_trailer.store.store_phone }}" class="phone-nos">{{ cart_trailer.store.store_phone }}</a>
                                    </div>
                                    <div class="tp-located-at__box">
                                        <div class="tp-located-at__map">
                                            <div class="tp-map js-simple-map" data-lat="36.6512961" data-lng="-119.7101225" data-zoom="15" data-fullscreen_control="true" data-scrollwheel="true" data-marker="{% static 'img/logo-img50.svg' %}"></div>
                                            <a href="#" class="tp-btn tp-btn--text-sm tp-btn--red tp-btn--direction">
                                                <span>{{ self.right_trailer_block.get_direction_text }}</span>
                                            </a>
                                        </div>
                                        <div class="tp-located-at__info">
                                            <div class="tp-loc-info-item">
                                                <i class="fa fa-map-marker"></i>
                                                <div>
                                                    {{ cart_trailer.store.store_name }} <br> {{ cart_trailer.store.store_address }}
                                                    {{ cart_trailer.store.get_state_display }} {{ cart_trailer.store.store_zip }}
                                                </div>
                                            </div>
                                            <div class="tp-loc-info-item">
                                                <i class="fa fa-phone"></i>
                                                <div>
                                                    <a href="tel:+1{{ cart_trailer.store.store_phone }}" class="phone-nos">{{ cart_trailer.store.store_phone }}</a>
                                                </div>
                                            </div>
                                            <div class="tp-loc-info-item">
                                                <i class="fa fa-clock-o"></i>
                                                <div>
                                                    <table>
                                                        <tbody>
                                                            {{ cart_trailer.store.work_hours|group_work_hours }}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% block script %}
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        $(document).ready(function() {

            // document.getElementById('state').classList.remove('select2-hidden-accessible');
            // document.getElementsByClassName('select2 select2-container select2-container--default')[0].classList.add('d-none');


            $('.js-checkout-select').select2();

            // // Show select options on focus
            // // https://stackoverflow.com/questions/20989458/select2-open-dropdown-on-focus
            // // on first focus (bubbles up to document), open the menu
            // $(document).on('focus', '.select2-selection.select2-selection--single', function (e) {
            //     $(this).closest(".select2-container").siblings('select:enabled').select2('open');
            // });

            // $(document).on('keydown', '.select2', function(e) {
            //     if (e.originalEvent && e.which == 40) {
            //         e.preventDefault();
            //         $(this).siblings('select').select2('open');
            //     }
            // });

            // $('select').select2({
            //     selectOnClose: true
            // });

            // // Force close whe change
            // $('select').on('select2:select', function (e) {
            //     $('select').select2('close');
            // });

            // $('#zip').on('focus', function(e){
            //     $('select').select2('close');
            // });

            // $('#zip').on('blur input', function() {
            //     $('select').select2('close');
            // });

        });
    });

    function hideAlert(){
        document.getElementById("checkout__alert").style.display = "none";
    }

    var start = new Date();
    start.setMinutes(start.getMinutes()+5);
    var countDownDate = start.getTime();

    var x = setInterval(function() {
        var now = new Date().getTime();

        var distance = countDownDate - now;

        // Time calculations for minutes and seconds
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("holdingTime").innerHTML = minutes + " mins " + seconds + " secs";
        document.getElementById("holdingMin").innerHTML = minutes;
        document.getElementById("holdingSec").innerHTML = seconds;

        if (distance <= 1000) {
            clearInterval(x);
            var url = document.getElementById("storeRedirect").innerHTML;
            window.location.replace(url);
        }
    }, 1000);
</script>
{% endblock %}