/* ------------------------------------------- */
/*                  DETAILS                    */
/* ------------------------------------------- */

.tp-details {
    display: flex;
    flex-direction: column;
    border-top: 3px solid rgba(var(--ca-grey), 0.2);

    li {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px 20px;
        font-size: 15px;

        @include small-size-max {
            padding: 8px 10px;
            font-size: 14px;
        }

        a {
            color: $color-alter;

            &:hover {
                color: $color-main;
            }
        }

        &:nth-child(odd) {
            background-color: var(--c-white-grey);
        }
    }

    &__l {
        width: 30%;
        max-width: 30%;
        min-width: 30%;
        color: var(--c-grey);
        padding-right: 20px;

        @include large-size-max {
            width: 35%;
            max-width: 35%;
            min-width: 35%;
        }

        @include small-size-max {
            width: 40%;
            max-width: 40%;
            min-width: 40%;
        }

        @include small-size-max {
            padding-right: 10px;
        }
    }

    &__r {
        color: var(--c-blue-dark);
        width: calc(100% - 30%);
        max-width: calc(100% - 30%);
        min-width: calc(100% - 30%);

        @include large-size-max {
            width: calc(100% - 35%);
            max-width: calc(100% - 35%);
            min-width: calc(100% - 35%);
        }

        @include small-size-max {
            width: calc(100% - 40%);
            max-width: calc(100% - 40%);
            min-width: calc(100% - 40%);
        }
    }
}