POSTGRES_USER=UserName
POSTGRES_PASSWORD=Stwomg_Zen_SupA_StwomG
POSTGRES_MULTIPLE_DATABASES=primary, secondary

PGADMIN_DEFAULT_EMAIL=email@example.com
PGADMIN_DEFAULT_PASSWORD=SupA_StwomG

REDIS_PASSWORD=SicreT_Pass
