/* ------------------------------------------- */
/*                  LIVE CHAT                  */
/* ------------------------------------------- */

#designstudio-button {
    display: none!important;
}

.tp-chat-btn {
    position: fixed;
    z-index: 1000;
    right: 0;
    transform-origin: 100% 100%;
    transform: rotate(-90deg) translate(100%, 0);
    bottom: 10%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 6px 14px;
    min-width: auto;

    &:before {
        border: 2px solid var(--c-blue-light);
        border-bottom: none;
    }

    .fa {
        margin-right: 8px;
        font-size: 20px;
    }
}