
/* ------------------------------------------- */
/*              STORE SERVICES          	   */
/* ------------------------------------------- */

.tp-store-serv {

    &__title {
        display: flex;
        align-items: center;

        img {
            width: 35px;
            display: block;
            height: 100%;
            margin-right: 20px;
        }
    }
}