.tp-cut-blue {
    height: 510px;
    overflow: visible;
    display: flex;
    align-items: center;
    padding-top: 90px;

    @include medium-size-max {
        height: 450px;
    }

    @media screen and (max-width: 450px) {
		padding-top: 50px;
	}

    &__logo {
        position: absolute;
        left: 50%;
        top: -39px;
        transform: translateX(-50%);

        @include extra-small-size-max {
            max-width: 180px;
        }
    }

    &__wrapper {
        max-width: 1140px;
        text-align: center;
        margin: 0 auto;

        a {
            color: var(--c-white);

            &:hover {
                color: var(--c-blue-main);
            }
        }
    }
}