.tp-not-found {
    height: 890px;
    display: flex;
    background-color: rgba(20, 33, 51, 0.8);
    padding-top: 100px;

    @include medium-size-max {
        height: 500px;
    }

    @include extra-small-size-max {
        height: auto;
        padding: 85px 0;
    }

    h1 {
        font-size: 240px;
        line-height: 250px;

        @include large-size-max {
            font-size: 160px;
            line-height: 170px;
        }

        @include medium-size-max {
            font-size: 120px;
            line-height: 130px;
        }

        @include extra-small-size-max {
            font-size: 90px;
            line-height: 100px;
        }
    }

    h3 {
        font-family: $f-roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
    }

    a {
        i {
            margin-right: 10px;
            font-size: 22px;
        }
    }
}