/* ------------------------------------------- */
/*                    SERVICES                 */
/* ------------------------------------------- */

.tp-service {
    $b: &;
    display: flex;

    @include medium-size-max {
        flex-wrap: wrap;
    }    

    &--reverse {
        
        @include large-size-min {
            flex-direction: row-reverse;
        }

        #{$b} {

            &__right {
                @include large-size-min {
                    padding-left: 0;
                    padding-right: 85px;
                }
            }

            &__left {
                @include large-size-min {
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
        }
    }

    &__img {
        width: 390px;
        height: 360px;
        transform: skew(-6deg);
        
        @include medium-size-max {
            width: calc(100% - 20px);
        }

        @include small-size-max {
            height: 300px;
        }

        @include extra-small-size-max {
            height: 250px;
        }

        @media(max-width: 400px) {
            height: 220px;
        }

        picture > img {
            position: absolute;
            left: -40px;
            right: -40px;
            object-fit: cover;
            object-position: center;
            transform: skew(6deg);
            min-width: calc(100% + 80px);

            @include extra-small-size-max {
                left: -20px;
                right: -20px;
                min-width: calc(100% + 40px);
            }
        }
    }

    &__left {
        position: relative;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include medium-size-max {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }

        @include extra-small-size-max {
            max-width: 300px;
        }
    }

    &__right {
        padding-left: 85px;
        display: flex;
        align-items: center;

        @include medium-size-max {
            padding-left: 0;
        }
    }

    &__icon {
        width: 110px;
        height: 110px;
        position: absolute;
        padding: 15px;
        right: -10px;
        bottom: -25px;
        z-index: 1;
        @include flex-center;

        @include medium-size-max {
            right: 0;
        }

        @include small-size-max {
            width: 70px;
            height: 70px;
            bottom: -15px;
            right: 5px;
        }
    }
}

.tp-reviews-section {
    @include small-size-max {
        padding-top: 80px;
        padding-bottom: 47px;
    }
}