.tp-sidebar-banner {
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    justify-content: flex-end;

    &__wrapper {
        display: flex;

        &--right {
            justify-content: flex-end;

            @include large-size-max {
                justify-content: center;
            }
        }
    }

    &__title {
        color: var(--c-white);
        font-family: $f-oswald;
        font-size: 42px;
        font-weight: 500;
        line-height: 42px;
        text-transform: uppercase;

        @media screen and (max-width: 450px) {
            font-size: 32px;
        }
    }

    &__subtitle {
        color: var(--c-white);
        font-family: $f-oswald;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-transform: uppercase;

        @media screen and (max-width: 450px) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    a {
        color: var(--c-white);
        font-family: $f-oswald;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        text-transform: uppercase;
        padding-left: 0;
        padding-right: 0;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:before {
            border: 2px solid var(--c-white);
        }

        i {
            color: var(--c-white);
            font-size: 15px;
            line-height: 15px;
            margin-right: 10px;
        }
    }
}
 