/* ------------------------------------------- */
/*              STORE LOCATOR             	   */
/* ------------------------------------------- */

.tp-locator {

    &__box {
        max-width: 1750px;
        padding: 0 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex;

        @include mobile-menu-max {
            flex-direction: column;
        }
    }

    &__map {
        flex-grow: 1;
        min-height: 625px;

        @include mobile-menu-max {
            width: 100%;
            max-width: 100%;
        }

        @include extra-large-size-max {
            min-height: 590px;
        }

        @include mobile-menu-max {
            height: 500px;
            min-height: auto;
        }

        @include small-size-max {
            height: 400px;
        }
    }

    &__locations {
        background-color: var(--c-white);
        box-shadow: 0 0 30px rgba(var(--ca-black), 0.1);
        padding: 40px;
        width: 335px;
        flex-basis: 335px;
        max-width: 335px;

        @include mobile-menu-max {
            width: 100%;
            max-width: 100%;
            flex-basis: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include extra-small-size-max {
            padding: 30px 20px;
        }

        .select2 {
            width: 100%!important;
            max-width: 220px;
            margin: 25px auto 0;
            z-index: 1;

            @include mobile-menu-min {
                visibility: hidden;
                height: 0;
                overflow: hidden;
                pointer-events: none;
                margin: 0;
            }
        }

        .select2-container--default .select2-selection--single {
            position: relative;
            height: $select-height;
            background-color: transparent;
            border: none;
        }
    
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            padding-left: 20px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: $select-height;
            right: 10px;
            width: 15px;
            
            b {
                border-color: $color-main transparent transparent transparent;
            }
        }
        
        .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
            border-color: $color-main transparent transparent transparent;
        }

        .select2-results__option {

            &:hover {
                color: var(--c-black-2);
            }
        }
    }

    &__current {
        color: var(--c-blue-main);
        font-family: $f-oswald;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: flex-start;
        margin-top: 10px;

        .fa {
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
    }

    &__current-title {
        flex-shrink: 0;
    }

    &__current-name {
        font-weight: 500;
        margin-left: 5px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 18px -2.5px 0;

        @include mobile-menu-max {
            visibility: hidden;
            height: 0;
            overflow: hidden;
            pointer-events: none;
            margin: 0;
        }

        li {
            color: $color-main;
            flex-basis: calc(50% - 5px);
            width: calc(50% - 5px);
            max-width: calc(50% - 5px);
            margin: 0 2.5px;
            cursor: pointer;
            font-size: 15px;
            line-height: 26px;
            padding: 2px 10px;
            transition: 200ms ease;
            height: 100%;

            &:hover {
                background-color: $color-alter;
                color: var(--c-white);
            }

            &.active {
                background-color: $color-alter;
                color: var(--c-white);
            }
        }
    }

    &__store {
        padding: 40px 0;
        border-bottom: 1px solid var(--c-grey-light);

        @include small-size-max {
            padding: 25px 0 30px;
        }

        &:last-child {
            border: none;
            padding-bottom: 0;
        }

        address {
            font-size: 14px;
            line-height: 23px;
            color: var(--c-blue-dark);
            font-family: $f-roboto;
            font-style: normal;

            a {
                color: var(--c-blue-main);

                &:hover {
                    color: $color-alter;
                }
            }
        }
    }

    &__schedule {

        table {
            font-size: 14px;
            color: var(--c-blue-dark);

            tr {

                td {
                    vertical-align: top;
                    line-height: 20px;

                    &:first-child {
                        padding-right: 65px;

                        @include large-size-max {
                            padding-right: 30px;
                        }

                        @media(max-width: 400px) {
                            padding-right: 15px;
                        }
                    }
                }
            }
        }
    }

    &__buttons {

        @include medium-size-max {
            display: flex;
            margin: 0 -10px;
            margin-top: 15px;
        }

        @include small-size-max {
            flex-wrap: wrap;
        }

        a {

            @include medium-size-max {
                margin: 0 10px;
            }

            @include small-size-max {
                width: 100%;
            }

            &:last-child {
                
                @include large-size-min {
                    margin-top: 20px;
                }

                @include small-size-max {
                    margin-top: 20px;
                }
            }
        }
    }
}