.tp-strong {
    // min-height: 619px;
    overflow: visible;
    display: flex;
    flex-direction: column-reverse;

    @include small-size-max {
        // min-height: 405px;
    }

    p {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
    }

    &__logo {
        display: inline-block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -152px;
        height: auto;
        z-index: 1;
        margin-top: 40px;

        @include small-size-max {
            width: 300px;
            margin-bottom: -102px;
            margin-top: 20px;
        }

        @include extra-small-size-max  {
            width: 200px;
            margin-bottom: -92px;
        }
    }
}