{% load wagtailcore_tags wagtailimages_tags %}
{% load static menu_tags %}
<span class="tp-nav__toggle js-submenu-toggle"></span>
<div class="js-submenu">
    <ul>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-1-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-1-min.jpg' %}" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-1-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Enclosed Cargo Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-2-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-2-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-2-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Utility Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-3-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-3-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-3-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Dump Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-6-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-6-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-6-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Equipment Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-7-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-7-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-7-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Car Hauler Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-9-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-9-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-9-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Gooseneck Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-4-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-4-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-4-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Snow / ATV Trailers</span>
            </a>
        </li>
        <li>
            <a href="#">
                <picture>
                    <source data-srcset="{% static 'img/webp/menu/menu-trailer-8-min.webp' %}" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <source data-srcset="{% static 'img/menu/menu-trailer-8-min.jpg' %}" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    <img data-src="{% static 'img/menu/menu-trailer-8-min.jpg' %}" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="alt">
                </picture>
                <span>Custom Trailers</span>
            </a>
        </li>
    </ul>
</div>