{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}
{% load static %}
<!-- Found Lower Popup start -->
<div id="found-lower" class="white-popup mfp-hide tp-popup">
    <div class="tp-popup__body tp-popup__body--lower">
        <div class="t-center">
            <div class="h3 h3-h2-mob c-main">{{ self.title }}</div>
            <div class="h4 margin-10t br-sm">{{ self.sub_title | safe }}</div>
        </div>
        <form action="#" class="tp-form margin-30t" id="found-lower-cf">
            {% csrf_token %}
            <div class="tp-form-control">
                <input type="text" name="url" placeholder="{{ self.placeholder_website_lower }}" required="required">
            </div>
            <div class="t-center h4 margin-30t margin-20b">{{ self.form_title }}</div>
            <div class="tp-form-double">
                <div class="tp-form-control">
                    <input type="text" name="first_name" minlength="3" placeholder="{{ self.placeholder_first_name }}" required="required">
                </div>
                <div class="tp-form-control">
                    <input type="text" name="last_name" minlength="3" placeholder="{{ self.placeholder_last_name }}" required="required">
                </div>
            </div>
            <div class="tp-form-control">
                <input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" placeholder="{{ self.placeholder_email }}" required="required">
            </div>
            <div class="tp-form-double">
                <div class="tp-form-control">
                    <input type="tel" name="phone" placeholder="{{ self.placeholder_phone }}" required="required">
                </div>
                <div class="tp-form-control">
                    <input type="number" name="zip" min="0" placeholder="{{ self.placeholder_zipcode }}">
                </div>
            </div>
            <input type="hidden" name="trailer" value="{{ product.common.vin }}">
            <div class="tp-form-msg t-center">
                <div class="tp-form-msg__text tp-form-msg__text--success margin-30t">{{ self.success_message }}</div>
                <div class="tp-form-msg__text tp-form-msg__text--error margin-30t"></div>
            </div>
            <div class="margin-15t">
                <button type="submit" class="tp-btn tp-btn--red tp-btn--full">
                    <span>{{ self.button_text }}</span>
                    <div class="tp-btn__loader"></div>
                </button>
            </div>
        </form>
        <div class="t-center fz14 margin-30t">
            {{ self.form_description | safe }}
        </div>
    </div>
</div>
<!-- Found Lower Popup end -->