{% load wagtailcore_tags wagtailimages_tags wagtailuserbar %}
{% load static %}
{% load product_tags %}
<!-- Product Recently start -->
{% if recently|length %}
<section class="padding-45t padding-20b padding-md-90t padding-md-70b">
    <div class="container">
        <h3 class="h3 t-center margin-25b margin-md-50b">{{ self.title }}</h3>
        <div class="row justify-content-lg-center justify-content-xl-start">
            {% for product in recently.trailers %}
            <div class="col-md-6 col-lg-5 col-xl-3 margin-30b ">
                <a href="{{ request.scheme }}://{{ request.site_name }}/{{ product.trailer.trailer.store.get_slug }}/{{ product.trailer.trailer.category.slug }}/trailer/{{ product.trailer.trailer.vin }}" class="tp-product tp-product--shadow">
                    <div class="tp-product__image">
                        <div class="tp-swiper tp-swiper--product js-swiper">
                            <div class="tp-swiper__container swiper-container" data-slides="1" data-loop="true" data-speed="500">
                                <div class="swiper-wrapper tp-swiper__wrapper">
                                    {% for image in product.trailer.trailer.pictures %}
                                    <div class="swiper-slide tp-swiper__slide bg-img">
                                        <picture>
                                            <!--<source data-srcset="./img/webp/products/product1.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">-->
                                            <!--<source data-srcset="./img/products/product1.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">-->
                                            <img data-src="{{ image_path.original }}/{{ image.file }}" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                        </picture>
                                    </div>
                                    {% empty %}
                                    <div class="swiper-slide tp-swiper__slide bg-img">
                                        <picture>
                                            <img data-src="{{ image_path }}/comingsoon.jpg" alt="Factory Direct" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                        </picture>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-prev tp-swiper__prev"></div>
                                <div class="swiper-button-next tp-swiper__next"></div>
                            </div>
                        </div>
                        {% if vin in recently.special %}
                        <span class="tp-product__status tp-product__status--special">Special</span>
                        {% endif %}
                    </div>
                    <div class="tp-product__info">
                        {% if product.trailer.trailer.status == 120 %}
                        <span class="tp-product__status">Reserved</span>
                        {% endif %}
                        {% if product.trailer.trailer.status == 150 %}
                        <span class="tp-product__status">Sold</span>
                        {% endif %}
                        <h3 class="h5 margin-0t margin-0b c-main">{{ product.title }}</h3>
                        <!-- TODO If product has MSRP price need to add span(after span with price) with class "old" <span class="old">MSRP: $7999</span> -->
                        <div class="tp-product__price">
                            Sale Price: <span>{{ product.trailer.trailer.sale_price|str_price }}</span>
                            <span class="old"><b>MSRP:</b> {{ product.trailer.trailer.msrp|str_price }}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
<!-- Product Recently end -->
