{% extends "layout.tmpl.njk" %}

{% block content %}

    <!-- Banner start -->
    {% set data = {
        image: 'careers/banner-bg',
        title: 'Join the TrailersPlus Team',
        text: 'We are always looking for talented, honest and hardworking people. Our staff approaches their livelihood not as a job, but as a career where they can foster lifelong relationships with both co-workers and customers. Management is supportive and strives to help each employee be the best they can be.'
    }
    %}
    <section class="tp-section--default tp-banner tp-banner--bot tp-banner--600 tp-banner--overl-1 bg-img">
        {% include "../templates/partials/blocks/banner-bot.njk" %}
    </section>
    <!-- Banner end -->

    <!-- Why list start -->
    <section class="tp-section tp-why-list">
        <div class="container">
            <h2 class="h2 w-full t-center margin-sm-30b margin-md-70b">Here's why you'll love working for TrailersPlus</h2>

            <div class="tp-why-list__list">
                <div class="tp-why-list__list-item">
                    <div class="tp-why-list__list-wrapper">
                        <div class="tp-why-list__list-img">
                            <picture>
                                <source data-srcset="./img/webp/careers/money-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <source data-srcset="./img/careers/money-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <img data-src="./img/careers/money-min.png" alt="Generous Commission and Bonus Structures" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            </picture>
                        </div>
                        <h3 class="h5 c-main">Generous Commission and Bonus Structures</h3>
                    </div>
                </div>

                <div class="tp-why-list__list-item">
                    <div class="tp-why-list__list-wrapper">
                        <div class="tp-why-list__list-img">
                            <picture>
                                <source data-srcset="./img/webp/careers/graph-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <source data-srcset="./img/careers/graph-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <img data-src="./img/careers/graph-min.png" alt="Promote from Within, Outstanding Opportunities for Growth" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            </picture>
                        </div>
                        <h3 class="h5 c-main">Promote from Within, Outstanding Opportunities for Growth</h3>
                    </div>
                </div>

                <div class="tp-why-list__list-item">
                    <div class="tp-why-list__list-wrapper">
                        <div class="tp-why-list__list-img">
                            <picture>
                                <source data-srcset="./img/webp/careers/tools-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <source data-srcset="./img/careers/tools-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <img data-src="./img/careers/tools-min.png" alt="Factory Training and Certification for Trailer Service and Repair" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            </picture>
                        </div>
                        <h3 class="h5 c-main">Factory Training and Certification for Trailer Service and Repair</h3>
                    </div>
                </div>

                <div class="tp-why-list__list-item">
                    <div class="tp-why-list__list-wrapper">
                        <div class="tp-why-list__list-img">
                            <picture>
                                <source data-srcset="./img/webp/careers/user-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <source data-srcset="./img/careers/user-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <img data-src="./img/careers/user-min.png" alt="Cutting Edge Sales Training and Support System" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            </picture>
                        </div>
                        <h3 class="h5 c-main">Cutting Edge Sales Training and Support System</h3>
                    </div>
                </div>

                <div class="tp-why-list__list-item">
                    <div class="tp-why-list__list-wrapper">
                        <div class="tp-why-list__list-img">
                            <picture>
                                <source data-srcset="./img/webp/careers/marker-min.webp" type="image/webp"  srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <source data-srcset="./img/careers/marker-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                <img data-src="./img/careers/marker-min.png" alt="+ Trailer Stores Nationwide & Growing Strong!" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            </picture>
                        </div>
                        <h3 class="h5 c-main">+ Trailer Stores Nationwide & Growing Strong!</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why list end -->

    <!-- Our Current Openings start -->
    <section class="tp-section tp-current-opening">
        <div class="container">
            <h2 class="h2 w-full t-center margin-sm-30b margin-md-70b">Our Current Openings</h2>

            <div class="tp-current-opening__wrapper">

                {% set citys = [
                    { cityName: 'Charleston', vacancies: [{ name: 'Manager in Training', city: 'Charleston, WV' }] },
                    { cityName: 'Des Moines', vacancies: [{ name: 'Assistant Store Manager', city: 'Des Moines, IA' }] },
                    { cityName: 'Indianapolis', vacancies: [{ name: 'Assistant Store Manager', city: 'Indianapolis, IN' }, { name: 'Service Tech', city: 'Indianapolis, IN' }] },
                    { cityName: 'Saint Louis', vacancies: [{ name: 'Store Manager', city: 'St. Louis, MO' }] }
                ]
                %}

                {% for city in citys %}
                <div class="tp-city-item">
                    <h3 class="h4">{{ city.cityName }}</h3>
                    <div class="tp-city-item__divider"></div>

                    {% for vacancy in city.vacancies %}
                    <div class="tp-city-item__vacancy">
                        <div class="tp-city-item__col">
                            <h4 class="tp-city-item__name"><i class="fa fa-user"></i>{{ vacancy.name }}</h4>
                        </div>
                        <div class="tp-city-item__col">
                            <span class="tp-city-item__city"><i class="fa fa-map-marker"></i>{{ vacancy.city }}</span>
                        </div>
                        <div class="tp-city-item__col">
                            <a href="#" class="tp-btn tp-btn--text-sm tp-btn--text-cptl tp-btn--xs tp-city-item__btn"><i class="fa fa-briefcase"></i>Apply Now</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- Our Current Openings end -->

    <!-- New Section start -->
    <section class="tp-section tp-current-opening2">
        <div class="container">
            <h2 class="h2 w-full t-center margin-sm-30b margin-md-70b">Our Current Openings</h2>
            
            <div>
                <iframe
                    height="1200"
                    src="https://workforcenow.adp.com/mascsr/default/mdf/recruitment/recruitment.html?cid=3229b6ae-1303-4196-8e9b-2859075a98ba&ccId=19000101_000001&lang=en_US"
                    frameborder="0">
                </iframe>
            </div>
        </div>
    </section>
    <!-- New Section end -->

    <!-- Join community start -->
    <section class="tp-section tp-section--sm bg-img">
        {% include "../templates/partials/blocks/join-community.njk" %}
    </section>
    <!-- Join community end -->

    <!-- Partners start -->
    {% set partners = [
        { title: "alt-text", src: "logo1.jpg", srcMob: "logo1.jpg", name: "logo1", nameMob: "logo1" }, 
        { title: "alt-text", src: "logo2.png", srcMob: "logo2.png", name: "logo2", nameMob: "logo2" },
        { title: "alt-text", src: "logo3.jpg", srcMob: "logo3-mob.jpg", name: "logo3", nameMob: "logo3-mob" }, 
        { title: "alt-text", src: "logo4.jpg", srcMob: "logo4.jpg", name: "logo4", nameMob: "logo4" }, 
        { title: "alt-text", src: "logo5.jpg", srcMob: "logo5.jpg", name: "logo5", nameMob: "logo5" }, 
        { title: "alt-text", src: "logo6.jpg", srcMob: "logo6.jpg", name: "logo6", nameMob: "logo6" }]
    %}
    <section class="tp-partners">
        {% include "../templates/partials/blocks/partners.njk" %}
    </section>
    <!-- Partners end -->
    
{% endblock %}