{% extends "layout.tmpl.njk" %}

{% block content %}

    <!-- Banner start -->
    {% set data = {
        image: 'trailer-knowledge-details/banner-bg',
        titleBlog: 'Tailgating Event Excites Austin Bloggers | TrailersPlus',
        text: 'August 12, 2019'
    }
    %}
    <section class="tp-section--default tp-banner tp-banner--bot tp-banner--600 tp-banner--overl-3 bg-img">
        {% include "../templates/partials/blocks/banner-bot.njk" %}
    </section>
    <!-- Banner end -->

    <!-- Post start -->
    <section class="padding-50t padding-50b padding-md-85b tp-blog-details">
        <div class="container c-blue-dark tp-check-list">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 tp-blog-details__content">
                    <!-- Post Content start -->
                    <p>Everyone loves a tailgate. It’s one of the major highlights of any game day, in fact,
                        <a href="#">our recent</a>
                        survey found that nearly a quarter of college football fans say the tailgate is their single favorite part of gameday! Drinks, good food, and a big game to top it all off – what more could you need?</p>
                    <p>Austin, TX, home of the Longhorns, is recognized as one of the best cities to head to if you want a true tailgating experience. We thought we’d join in the fun with our own tailgate! On September 14th ahead of the ‘Horns’ 43-18 victory at Rice, we took one of our
                        <a href="#">custom trailers</a>
                        and headed to Tillery Place, a hip outdoor venue situated in the Govalle district, where we met with some friends of ours who specialize in great food, drink and activities.</p>

                    <picture>
                        <source data-srcset="./img/webp/trailer-knowledge-details/img-1-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/trailer-knowledge-details/img-1-min.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/trailer-knowledge-details/img-1-min.jpg" alt="img 1" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>

                    <p>We invited a group of well-known lifestyle and food bloggers from the Austin area to share in our #TPTailgating event, celebrating everything that’s great about tailgating. Kicking things off at 2pm, everyone enjoyed some introductory drinks and the chance to socialize, all before the real action got underway.</p>
                    <p>Austin-based cocktail experts,
                        <a href="#">Drink Slingers</a>, provided the first activity. Leading our guests through a cocktail masterclass, they showed us how to make the perfect drink to complement our own party. The session covered some of the basics of mixology, such as recognizing the difference between strong and weak spirits, sours and sweets and how to blend these to create the perfect mix.</p>

                    <ol>
                        <li>item 1</li>
                        <li>item 1</li>
                        <li>item 1</li>
                        <li>item 1</li>
                        <li>item 1</li>
                    </ol>

                    <picture>
                        <source data-srcset="./img/webp/trailer-knowledge-details/img-2-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/trailer-knowledge-details/img-2-min.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/trailer-knowledge-details/img-2-min.jpg" alt="img 2" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>

                    <p>Once the team from Drink Slingers had given out a crash course, it was down to our guests to create their own tailgate cocktail.</p>
                    <p>This gave them the opportunity to put their new found mixology knowledge to the test, with some shaking, stirring, and of course, drinking. The session resulted in a wonderfully colorful display of different cocktails, all tailored to our guests’ individual tastes. They even rose to the challenge and matched the Drink Slingers with some fancy flaring skills that would rival the best halftime show for entertainment!</p>

                    <picture>
                        <source data-srcset="./img/webp/trailer-knowledge-details/img-3-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/trailer-knowledge-details/img-3-min.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/trailer-knowledge-details/img-3-min.jpg" alt="img 2" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>

                    <p>It’s not possible to have drinks – or a great tailgate for that matter - without a selection of mouth-watering food! The next part of the afternoon saw the bloggers enjoy some tasty treats and gain some creative inspiration for their own tailgate, all provided by
                        <a href="#">Gold Epicure</a>. There was a variety of tacos and a range of tasty burgers for our guests to choose from.</p>

                    <picture>
                        <source data-srcset="./img/webp/trailer-knowledge-details/img-4-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <source data-srcset="./img/trailer-knowledge-details/img-4-min.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        <img data-src="./img/trailer-knowledge-details/img-4-min.jpg" alt="img 4" class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                    </picture>

                    <p>Since tailgating is about the football, it would have been wrong to leave it out of the day! We wanted to ensure our guests didn’t miss any of the action, so we also provided tents complete with big screens, so our guests could keep an eye on the game throughout the afternoon.</p>
                    <p>
                        We’d like to thank all the bloggers who attended the event and helped to make the day one of the most memorable tailgates we’ve ever attended. Being in Austin meant that our guests were all rooting for their beloved Longhorns, and they were glad they could also taste victory alongside the delicious food and cocktails.</p>
                    <p>Are you a dedicated tailgater? Or has our event inspired you to break out the grill and try it for yourself? There’s plenty that TrailersPlus can do to help take your tailgate to the next level. Just visit our
                        <a href="#">Custom Trailers</a>
                        page to find out more.
                    </p>

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SKGNoEcWaJg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
                    <!-- Post Content end -->
                </div>
            </div>

            <div class="tp-blog-details__share-wrapper margin-50t margin-50b">
                <span>Share this</span>
                <a href="#" class="tp-blog-details__share-link tp-blog-details__share-link--fb js-saring-fb">
                    <i class="fa fa-facebook"></i>
                </a>
            </div>

            <div class="tp-divider"></div>

            <div class="tp-blog-details__cut margin-50t margin-50b t-center">
                <h2 class="h3 margin-5b">Do you have any trailer questions?</h2>
                <h3 class="h2 margin-0t">Please call us at
                    <b>
                        <a href="tel:8778507587">877-850-7587</a>
                    </b>
                    to discuss!</h3>
            </div>

            <div class="tp-divider"></div>

            <div class="tp-post-navigation padding-50t">

                <div class="tp-post-navigation__post tp-post-navigation__post--prev">
                    <a href="#" class="tp-post-navigation__img-wrapper">
                        <picture>
                            <source data-srcset="./img/webp/trailer-knowledge-details/prev-img-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            <source data-srcset="./img/trailer-knowledge-details/prev-img-min.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            <img data-src="./img/trailer-knowledge-details/prev-img-min.jpg" alt="How to Change a Trailer Tire" class="lazyload tp-img--shadow" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        </picture>
                    </a>

                    <div class="tp-post-navigation__post-desc">
                        <a href="#" class="tp-post-navigation__link">Previous Post</a>
                        <a href="#" class="c-main h4">How to Change a Trailer Tire</a>
                    </div>
                </div>

                <div class="tp-post-navigation__post tp-post-navigation__post--next">
                    <a href="#" class="tp-post-navigation__img-wrapper">
                        <picture>
                            <source data-srcset="./img/webp/trailer-knowledge-details/next-img-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            <source data-srcset="./img/trailer-knowledge-details/next-img-min.jpg" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                            <img data-src="./img/trailer-knowledge-details/next-img-min.jpg" alt="Radial versus Bias Ply Trailer Tires" class="lazyload tp-img--shadow" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                        </picture>
                    </a>

                    <div class="tp-post-navigation__post-desc">
                        <a href="#" class="tp-post-navigation__link">Next Post</a>
                        <a href="#" class="c-main h4">Radial versus Bias Ply Trailer Tires</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Post end -->

    <!-- Join community start -->
    <section class="tp-section tp-section--sm bg-img">
        {% include "../templates/partials/blocks/join-community.njk" %}
    </section>
    <!-- Join community end -->

    <!-- Partners start -->
    <section class="tp-partners">
        {% include "../templates/partials/blocks/partners.njk" %}
    </section>
    <!-- Partners end -->

{% endblock %}