{% extends "layout.tmpl.njk" %}

{% block content %}

    <!-- Warranty start -->
    <div class="tp-section tp-warranty">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xl-8">
                    <article>
                        <h1>Interstate Limited Warranty</h1>
                        <p>
                            <b>INTERSTATE GROUP</b>, L.L.C., hereinafter referred to as
                            <b>INTERSTATE</b>, warrants to the original owner that: your
                            <b>INTERSTATE</b>
                            trailer will be free from defects in materials and workmanship for the following periods:</p>
                        <p>
                            <b>Pro-Series</b>
                            – Three years overall from the date of purchase, lifetime roof warranty.</p>
                        <p>
                            <b>LoadRunner</b>
                            – Two years overall from the date of purchase, five year roof warranty.</p>
                        <p>
                            <b>Victory</b>
                            – One year overall/roof warranty from the date of purchase.</p>

                        <p>All warranties are, except as herein limited, from the date of purchase provided all stated conditions and exclusions are met and satisfied. The obligation of this warranty shall be limited to repairing or replacing any part or parts which, in the opinion of INTERSTATE, shall be proved defective in materials or workmanship under normal use and service during the warranty period commencing with the date of purchase subject to the conditions and exclusions listed below:</p>

                        <h2>How To Obtain Warranty Service</h2>

                        <p>1. All Warranty requests must be presented to INTERSTATE with the proper arrangements made and approved by INTERSTATE prior to any work being done.</p>
                        <p>2. All Warranty repairs must be performed at INTERSTATE in Nampa, ID, Kingman, AZ, or Conway, AR unless prior written approval is obtained from INTERSTATE before said repairs begin. In certain cases INTERSTATE may, at its option, elect to have warranty work performed in the field by a qualified repair shop.</p>
                        <p>3. INTERSTATE will not be obligated in any way to pay for repairs made without its specific advance approval. Any repairs performed without its advance approval, INTERSTATE may pay at its sole option, in an amount not to exceed what the parts and labor cost would have been if INTERSTATE had performed the repair. The parts and labor cost to perform a repair will be limited to the customer's original purchase price from INTERSTATE of those items and the installation charges from INTERSTATE for those items.</p>
                        <p>4. Any premium charges for overtime labor, service calls, towing or transportation are the sole responsibility of the customer and will not be paid for by INTERSTATE.</p>

                        <h2>What Is Not Covered</h2>
                        <p>1. Axles are covered by the manufacturer's warranty as follows:</p>

                        <h3>Torsion Axles</h3>
                        <ul>
                            <li>Ten (10) Years for Workmanship such as defects in welds.</li>
                            <li>One (1) Year on moving parts such as Hubs, Brakes, Bearings.</li>
                            <li>Ten (10) Years on the Torflex beam only.</li>
                        </ul>

                        <h3>Spring Axles</h3>
                        <ul>
                            <li>Five (5) Years for Workmanship such as defects in welds.</li>
                            <li>One (1) Year on the moving parts such as Hubs, Brakes, Bearings.</li>
                        </ul>

                        <p>2. Tires are covered by the tire manufacturer's warranty. Present all claims for tire adjustments to a tire dealer who handles the brand in question.</p>
                        <p>3. Food service and beverage equipment, air conditioners, water heaters, generators and refrigerators are all covered by their respective manufacturer's warranty. Warranty validation and claims are to be handled directly with the particular manufacturer.</p>
                        <p>4. Electrical components, lights, jacks, (manual or hydraulic), plumbing, fiberglass parts, window, doors, sealants, seals, locks, couplers, and aluminum corrosion are warranted for a one (1) year period from date of purchase.</p>
                        <p>5. Damage or defects resulting from or repairs required because of misuse (including but not limited to: overloading as determined by the gross vehicle weight and not payload capacity as shown on the vehicle identification label), improper loading, negligence, alteration, accident or lack of reasonable and proper maintenance are not covered under the warranty.</p>
                        <p>6. Replacement of maintenance items that are worn out from normal use, including but not limited to bearings, magnets and brake shoes is not covered under the warranty.</p>
                        <p>7. The harsh nature of the environment (rocks, debris, road salt, sand, etc.) that trailers are subjected to behind motor vehicles precludes any warranty on paint, undercoating, or exterior finish.</p>
                        <p>8. Damage caused by loose or improperly torqued lug nuts is not covered under the warranty.</p>
                        <p>9. Loss of time, inconvenience, loss of use of trailer, rental of substitute equipment, loss of revenues, or other commercial loss are not covered under the warranty.</p>
                        <p>10. After market additions or changes made to the trailer, altering it from its original condition, are not covered under the Interstate warranty.</p>
                        <p>Trailers covered by this warranty are designed to be towed by a proper vehicle. At no time should a vehicle be used with a trailer that exceeds the tow weight manufacturer's specific limitations.</p>
                        <p>Any express warranty not provided herein, any remedy for breach of contract which but for this provision might arise by implication or operation of law, is hereby excluded and disclaimed. The implied warranties of merchantability and of fitness for any particular purpose are expressly limited to a term of one (1) year. Some states do not allow limitations on how long an implied warranty lasts, so the above limitation may not apply to you.</p>
                        <p>Under no circumstances shall INTERSTATE GROUP, L.L.C. be liable to purchaser or any other person for any special, incidental or consequential damages, whether arising out of breach of warranty, breach of contract, or otherwise. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation may not apply to you. This warranty gives you specific legal rights. You may also have other rights which vary from state to state.</p>
                        <p>INTERSTATE GROUP, L.L.C. neither assumes nor authorizes any other person to give any other warranty or to assume on its behalf any other obligation or liability. This warranty is non-transferable from original owner.</p>
                    </article>
                </div>
                <div class="col-sm-12 col-xl-4">
                    <h2 class="h3 c-main">Interstate Group, LLC.</h2>
                    <div class="tp-warranty__addresses-wrapper">
                        <address>
                            <b>Interstate Group, LLC.</b><br>
                            3800 Airport Rd<br>
                            Nampa, ID 83687<br>
                            <b>
                                <a href="tel:8778085447">(877) 808-5447</a>
                            </b>
                            (Customer Service)
                        </address>
                    </div>

                    <h2 class="h3 c-main">Manufacturing Plants</h2>

                    <div class="tp-warranty__addresses-wrapper">
                        <address>
                            <b>Interstate Conway</b><br>
                            3601 Dave Ward Drive<br>
                            Conway, AR 72034
                        </address>

                        <address>
                            <b>Interstate Kingman</b><br>
                            4400 Interstate Way<br>
                            Kingman, AZ 86401
                        </address>

                        <address>
                            <b>Interstate Nampa</b><br>
                            224 Carnation Drive<br>
                            Nampa, ID 83651
                        </address>

                        <address>
                            <b>Interstate Giles</b><br>
                            200 Fairchild Ln.<br>
                            Glen Lyn, VA 24093
                        </address>
                    </div>

                    <div class="tp-warranty__manuals">
                        <h3>Owner's Manual</h3>

                        <div class="tp-warranty__manual-list">
                            <div class="tp-warranty__manual-item">
                                <picture>
                                    <source data-srcset="./img/webp/warranty/book-1-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <source data-srcset="./img/warranty/book-1-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <img data-src="./img/warranty/book-1-min.png" alt="logo" class="lazyload tp-warranty__manual-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                </picture>

                                <div class="tp-warranty__manual-wrapper">
                                    <a href="#" class="tp-warranty__manual-link">Download the Interstate owner's manual that is provided with every trailer purchased.</a>
                                    <a href="#" class="tp-btn tp-btn--red tp-warranty__manual-btn">Descargar manual del propeitario</a>
                                </div>
                            </div>

                            <div class="tp-warranty__manual-item">
                                <picture>
                                    <source data-srcset="./img/webp/warranty/book-2-min.webp" type="image/webp" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <source data-srcset="./img/warranty/book-2-min.png" type="image/jpeg" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                    <img data-src="./img/warranty/book-2-min.png" alt="logo" class="lazyload tp-warranty__manual-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==">
                                </picture>

                                <div class="tp-warranty__manual-wrapper">
                                    <a href="#" class="tp-warranty__manual-link">Download the Interstate owner's manual that is provided with every trailer purchased.</a>
                                    <a href="#" class="tp-btn tp-btn--red tp-warranty__manual-btn">Download Owner's Manual</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Warranty end -->

    <!-- Join community start -->
    <section class="tp-section tp-section--sm bg-img">
        {% include "../templates/partials/blocks/join-community.njk" %}
    </section>
    <!-- Join community end -->

    <!-- Partners start -->
    {% set partners = [
        { title: "alt-text", src: "logo1.jpg", srcMob: "logo1.jpg", name: "logo1", nameMob: "logo1" }, 
        { title: "alt-text", src: "logo2.png", srcMob: "logo2.png", name: "logo2", nameMob: "logo2" },
        { title: "alt-text", src: "logo3.jpg", srcMob: "logo3-mob.jpg", name: "logo3", nameMob: "logo3-mob" }, 
        { title: "alt-text", src: "logo4.jpg", srcMob: "logo4.jpg", name: "logo4", nameMob: "logo4" }, 
        { title: "alt-text", src: "logo5.jpg", srcMob: "logo5.jpg", name: "logo5", nameMob: "logo5" }, 
        { title: "alt-text", src: "logo6.jpg", srcMob: "logo6.jpg", name: "logo6", nameMob: "logo6" }]
    %}
    <section class="tp-partners">
        {% include "../templates/partials/blocks/partners.njk" %}
    </section>
    <!-- Partners end -->

{% endblock %}
