:root {
	--c-white: #fff;
	--ca-white: 255, 255, 255;
	--c-white-grey: #f0f2f6;
	--ca-white-grey: 240, 242, 246;

	--c-black: #000;
	--c-black-2: #222;
	--ca-black: 0, 0, 0;

	--c-grey-light: #eee;
	--ca-grey-light: 238, 238, 238;
	--c-grey-medium: #d8d8d8;
	--ca-grey-medium: 216, 216, 216;
	--c-grey: #6b7179;
	--ca-grey: 107, 113, 121;
	--c-athens-grey: #e9ebee;
	--c-porcelain: #f4f5f6;
	--c-athens: #e2e4e8;
	--c-gray-dark: #e1e5ed;

	--c-blue-main: #264d80;
	--ca-blue-main: 38, 77, 128;
	--c-blue-light: #11396c;
	--ca-blue-light: 17, 57, 108;
	--c-blue-grey: #2d3f59;
	--ca-blue-grey: 45, 63, 89;
	--c-blue-medium: #0c284d;
	--ca-blue-medium: 12, 40, 77;
	--c-blue-dark: #142133;
	--ca-blue-dark: 20, 33, 51;
	--c-blue-darken: #0f1926;
	--ca-blue-darken: 15, 25, 38;
	--c-blue-facebook: #3b5998;
	--ca-blue-facebook: 59, 89, 152;

	--c-jade: #00b67a;
	--ca-jade: 0, 182, 122;
	--c-emerald: #4cbf74;
	--c-lima: #73cf11;
	--c-supernova: #ffce00;
	--c-tango: #f37324;
	--c-crimson: #e12729;
	--c-pomegranate: #f3383f;
	--ca-pomegranate: 243, 56, 63;
	--c-sunset: #ff4d53;
	--c-solitude: #f1f3f7;

	--windowHeight: 100vh;
	--productImageH: 200px;
	--productImageH-md: 240px;
	--prodGalleryThumbWidth: 115px;
}
