<!-- TODO Add class 'open' for opening cart -->
<!-- TODO Add class 'added' for show message about adding -->
<div class="tp-cart tp-cart--visible added js-cart">
	<a href="#" class="tp-cart__icon js-cart-toggle">
		<i class="ion-md-cart"></i>
		<span class="tp-cart__count">1</span>
	</a>
	<div class="tp-cart__dropdown">
		<div class="tp-cart__info title">cart</div>
		<div class="tp-cart__info success title">item successfully added</div>
		<div class="tp-cart__list">
			<a href="#" class="tp-cart__item">
				<div class="tp-cart__item-img">
					<img src="./img/cart-item.jpg" alt="placeholder">
				</div>
				<div class="tp-cart__item-info">
					<h5 class="h5 tp-cart__item-title c-white">7 X 16 Victory Tandem Axle Cargo</h5>
					<div class="tp-cart__item-subtitle">TrailersPlus Lavonia</div>
					<div class="tp-cart__item-price">$4599.00</div>
				</div>
			</a>
		</div>
		<div class="tp-cart__buttons d-flex">
			<a href="#" class="tp-btn tp-btn--grey tp-btn--grey-red tp-btn--sm-fullwidth js-remove-from-cart">Remove</a>
			<a href="#" class="tp-btn tp-btn--red tp-btn--sm-fullwidth">Checkout</a>
		</div>
	</div>
</div>