<ul class="tp-locations">
    <li class="tp-locations__item js-drop-wrapp">
        <div class="tp-locations__head js-drop-toggle">
            Alabama
        </div>
        <div class="tp-locations__body js-drop-content"> 
            <ul class="tp-locations__cities">
                <li class="js-sheduler-location-item" data-locations-city="TRPL43"><i class="fa fa-map-marker"></i><span>Leadsm AL</span></li>
            </ul>
        </div>
    </li>
    <li class="tp-locations__item js-drop-wrapp">
        <div class="tp-locations__head js-drop-toggle">
            Arizona
        </div>
        <div class="tp-locations__body js-drop-content">
            <ul class="tp-locations__cities">
                <li class="js-sheduler-location-item" data-locations-city="TRPL41"><i class="fa fa-map-marker"></i><span>Kingman, AZ</span></li>
                <li class="js-sheduler-location-item active" data-locations-city="TRPL44"><i class="fa fa-map-marker"></i><span>Phoenix, AZ</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL45"><i class="fa fa-map-marker"></i><span>Tucson, AZ</span></li>
            </ul>
        </div>
    </li>
    <li class="tp-locations__item js-drop-wrapp">
        <div class="tp-locations__head js-drop-toggle">
            Arkansas
        </div>
        <div class="tp-locations__body js-drop-content">
            <ul class="tp-locations__cities">
                <li class="js-sheduler-location-item" data-locations-city="TRPL46"><i class="fa fa-map-marker"></i><span>Bryant, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL47"><i class="fa fa-map-marker"></i><span>Conway, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>West Memphis, AR</span></li>
            </ul>
        </div>
    </li>
    <li class="tp-locations__item js-drop-wrapp">
        <div class="tp-locations__head js-drop-toggle">
            Arkansas
        </div>
        <div class="tp-locations__body js-drop-content">
            <ul class="tp-locations__cities">
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>Bryant, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>Conway, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>West Memphis, AR</span></li>
            </ul>
        </div>
    </li>
    <li class="tp-locations__item js-drop-wrapp">
        <div class="tp-locations__head js-drop-toggle">
            Arkansas
        </div>
        <div class="tp-locations__body js-drop-content">
            <ul class="tp-locations__cities">
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>Bryant, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>Conway, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>West Memphis, AR</span></li>
            </ul>
        </div>
    </li>
    <li class="tp-locations__item js-drop-wrapp">
        <div class="tp-locations__head js-drop-toggle">
            Arkansas
        </div>
        <div class="tp-locations__body js-drop-content">
            <ul class="tp-locations__cities">
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>Bryant, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>Conway, AR</span></li>
                <li class="js-sheduler-location-item" data-locations-city="TRPL48"><i class="fa fa-map-marker"></i><span>West Memphis, AR</span></li>
            </ul>
        </div>
    </li>
</ul>