/* ------------------------------------------- */
/*              REVIEWS SLIDER          	   */
/* ------------------------------------------- */

.tp-swiper {
	$b: &;

	&--reviews {
		margin-bottom: 85px;

		@media(max-width: 1400px) {
			padding: 0 50px;
		}

		@media(max-width: 1300px) {
			padding: 0 65px;
		}

		@include mobile-menu-max {
			padding: 0;
		}

		@include small-size-max {
			margin-bottom: 45px;
		}
        
        #{$b} {

			&__slide {
				height: auto;
			}

			&__pagination {
				bottom: -85px;
				width: 100%;
				left: 50%;
				transform: translateX(-50%);
				
				@include flex-center-hor;
				align-items: flex-end;

				@include small-size-max {
					bottom: -45px;
				}
			}

			&__prev,
			&__next {
				width: 30px;
				height: 40px;

				&:before {
					display: none;
				}
				
				&:after {
					color: var(--c-blue-dark);
				}

				&:hover {

					&:after {
						color: $color-alter;
					}
				}
			}

			&__prev {
				left: -105px;

				@include extra-large-size-max {
					left: -70px;
				}

				@media(max-width: 1400px) {
					left: -20px;
				}
				
				@media(max-width: 1300px) {
					left: 0;
				}
			}
			
			&__next {
				right: -105px;

				@include extra-large-size-max {
					right: -70px;
				}

				@media(max-width: 1400px) {
					right: -20px;
				}
				
				@media(max-width: 1300px) {
					right: 0;
				}
			}
		}
	}

	&--review-2 {

		.swiper-pagination-bullet {
			
			&:before {
				background-color: var(--c-white);
			}
		}
		
		#{$b} {
			
			&__pagination {
				position: static;
				text-align: left;
			}
		}
	}
}

.tp-review-slider {
	padding: 55px 85px;
	position: relative;
	min-height: 420px;
	margin-left: 20px;
	display: flex;
    flex-direction: column;
    justify-content: center;

	@include medium-size-max {
		margin-right: 20px;
		min-height: 0;
	}

	@include small-size-max {
		padding: 35px 45px;
		margin: 0;
	}

	@include extra-small-size-max {
		padding: 40px 35px;
	}

	@media(max-width: 400px) {
		padding: 40px 25px;
	}

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		transform: skewX(-6deg);
		pointer-events: none;

		picture > img {
			transform: skewX(6deg);
			left: -40px;
			min-width: calc(100% + 80px);

			@include small-size-max {
				transform: none;
			}
		}

		@include small-size-max {
			transform: skewX(0deg);
		}
		
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: linear-gradient(180deg, rgba(var(--ca-blue-grey), 0.9) 0%, rgba(var(--ca-blue-grey), 0.9) 100%);
		}
	}
}