{% load product_tags common_tags i18n cache %}
{% get_current_language as LANGUAGE_CODE %}
<div class="tp-home-filters">
    <section class="tp-section tp-section--filter tp-section--mobile" style="border-color: rgba(17, 57, 108, 1);">
        <div class="container p-relative">
            <div class="tp-s-filter tp-skew tp-skew--blue-l tp-skew--border tp-skew--shadow">
                <form action="submit" class="tp-s-filter__form">
                    <div class="tp-s-filter__options">
                        <div class="tp-s-filter__item tp-s-filter__item--type">
                            {% for search in search_bars %}
                            <span class="tp-s-filter__item-label t-uppercase h4">{{ search.trailer_type_text }}</span>
                            {% endfor %}
                            <select name="trailer-type" id="trailers_type">
                                <option value="all">{{ "All Types"|translate }}</option>
                                {% cache 86400 searchbars_categories LANGUAGE_CODE %}
                                    {% for category in categories %}
                                    <option value="{{ category.slug }}">{% if locale == 'es' %}{{ category.name_es }}{% else %}{{ category.name_en }}{% endif %}</option>
                                    {% endfor %}
                                {% endcache searchbars_categories %}
                            </select>
                        </div>
                        <div class="tp-s-filter__item tp-s-filter__item--store">
                            {% for search in search_bars %}
                            <span class="tp-s-filter__item-label t-uppercase h4">{{ search.select_store_text }}</span>
                            {% endfor %}
                            <select name="trailer-store" id="trailers_store">
                                <optgroup label="My Store">
                                    <option value="{{ request.scheme }}://{{ request.site_name }}/{{ location.slug }}/inventory/">{{ request.location.city_name }}{% if request.location.id != 'TRPL81' %}, {{ request.location.state }}{% endif %}</option>
                                </optgroup>
    {% cache 86400 searchbars LANGUAGE_CODE %}
                                {% for state, stores in locations %}
                                <optgroup label="{{ state }}">
                                    {% for store in stores %}
                                    <option value="{{ request.scheme }}://{{ request.site_name }}/{{ store.slug }}/inventory/">{{ store.city_name }}{% if store.id != 'TRPL81' %}, {{ store.state }}{% endif %} </option>
                                    {% endfor %}
                                </optgroup>
                                {% endfor %}
    {% endcache searchbars %}
                            </select>
                        </div>
                    </div>
                    {% for search in search_bars %}
                    <a href="#" onclick="getURL()" class="tp-btn tp-btn--red tp-btn--smooth tp-s-filter__submit" id="btn-search">{{ search.search_button_text }} </a>
                    {% endfor %}
                </form>
            </div>
        </div>
    </section>
</div>
<script>
    function getURL(){
        var urlInventory = document.getElementById("trailers_store").value;
        var category = document.getElementById("trailers_type").value;
        if (category != "all"){
            var url = urlInventory + category + "/";
        }
        else{
            var url = urlInventory;
        }      
        location.href = url;  
        return false;
    }
</script>
